USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[MergeJobs]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[MergeJobs]
         @MainJobID int,
         @TheDepartedJobID int

AS

BEGIN
	DELETE FROM dbo.[SavedCE] WHERE JobID = @MainJobID AND CET_ID in (SELECT j2.CET_ID from dbo.[SavedCE] j2 WHERE j2.JobID = @TheDepartedJobID)
	UPDATE SavedCE SET JobID = @MainJobID WHERE JobID = @TheDepartedJobID

	DELETE FROM dbo.[SavedCost] WHERE JobID = @MainJobID AND CET_ID in (SELECT j2.CET_ID from dbo.[SavedCost] j2 WHERE j2.JobID = @TheDepartedJobID)
	UPDATE [SavedCost] SET JobID = @MainJobID WHERE JobID = @TheDepartedJobID

	DELETE FROM dbo.[SavedEmissions] WHERE JobID = @MainJobID AND CET_ID in (SELECT j2.CET_ID from dbo.[SavedEmissions] j2 WHERE j2.JobID = @TheDepartedJobID)
	UPDATE [SavedEmissions] SET JobID = @MainJobID WHERE JobID = @TheDepartedJobID

	DELETE FROM dbo.[SavedSavings] WHERE JobID = @MainJobID AND CET_ID in (SELECT j2.CET_ID from dbo.[SavedSavings] j2 WHERE j2.JobID = @TheDepartedJobID)
	UPDATE [SavedSavings] SET JobID = @MainJobID WHERE JobID = @TheDepartedJobID

	DELETE FROM dbo.[SavedValidation] WHERE JobID = @MainJobID AND CET_ID in (SELECT j2.CET_ID from dbo.[SavedValidation] j2 WHERE j2.JobID = @TheDepartedJobID)
	UPDATE [SavedValidation] SET JobID = @MainJobID WHERE JobID = @TheDepartedJobID

	DELETE FROM dbo.[SavedInput] WHERE JobID = @MainJobID AND CET_ID in (SELECT j2.CET_ID from dbo.[SavedInput] j2 WHERE j2.JobID = @TheDepartedJobID)
	UPDATE [SavedInput] SET JobID = @MainJobID WHERE JobID = @TheDepartedJobID

	DELETE FROM dbo.[CETJobs] WHERE ID = @TheDepartedJobID


END





GO
