USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[ValidateOutput]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--#################################################################################################
-- Name             :  ValidateOutput
-- Date             :  06/30/2016
-- Author           :  Wayne Hauck
-- Company          :  Pinnacle Consulting Group (aka Intech Energy, Inc.)
-- Purpose          :  This stored procedure validates outputs for the job and saves to the InputValidation table.
-- Usage            :  n/a
-- Called by        :  n/a
-- Copyright ©      :  Developed by Pinnacle Consulting Group (aka Intech Energy, Inc.) for California Public Utilities Commission (CPUC), All Rights Reserved
-- Change History   :  06/30/2016  Wayne Hauck added comment header
--                     
--#################################################################################################



CREATE PROCEDURE [dbo].[ValidateOutput]
@JobID int = -1
AS

SET NOCOUNT ON

-- Clear InputValidation table for Job
DELETE FROM InputValidation WHERE [Table] = 'Output' and JobID=@JobID


--************** Start Validate Input  ***************


----************** Validate Negative participant cost  ***************
--insert into InputValidation 
--select  @JobID AS JobID, 'Output' AS [Table], 'Warning Low' AS ErrorType, CET_ID AS ID, 'Negative Net Participant Cost' as MessageType , 'NPC= ' + Convert(varchar,e.[NetParticipantCostPV]) as Detail 
--from  dbo.OutputCost e
--where e.[NetParticipantCostPV] < 0
----************************************************************



--************** Validate Savings <> 0 and No Elec Cost Effectiveness  ***************
insert into InputValidation 
select  @JobID AS JobID, 'Output' AS [Table], 'Warning High' AS ErrorType, s.CET_ID AS ID, 'Electric savings but no electric benefits' as MessageType , '' as Detail
from  [dbo].OutputSavings s
LEFT JOIN [dbo].OutputCE ce on s.CET_ID = ce.CET_ID
where s.PA <>'SCG' AND (IsNull(s.GrosskWh,0) <> 0   and IsNull(ce.ElecBen,0) = 0)
--***********************************************************************************



--************** Validate Savings <> 0 and No Gas Cost Effectiveness  ***************
insert into InputValidation 
select  @JobID AS JobID, 'Output' AS [Table], 'Warning High' AS ErrorType, s.CET_ID AS ID, 'Gas savings but no gas benefits' as MessageType , '' as Detail
from  [dbo].OutputSavings s
LEFT JOIN [dbo].OutputCE ce on s.CET_ID = ce.CET_ID
where s.PA <>'SCE' AND (IsNull(s.GrossThm,0) <> 0   and IsNull(ce.GasBen,0) = 0)



--************** Validate Elec Savings <> 0 and No Electric Emissions  ***************
insert into InputValidation 
select  @JobID AS JobID, 'Output' AS [Table], 'Warning High' AS ErrorType, s.CET_ID AS ID, 'Elec savings but no electric emissions' as MessageType , '' as Detail
from  [dbo].OutputSavings s
LEFT JOIN [dbo].OutputEmissions e on s.CET_ID = e.CET_ID
where e.PA <> 'SCG' AND (IsNull(s.GrosskWh,0) <> 0   and IsNull(e.GrossElecCO2,0) = 0)
--***********************************************************************************


--************** Validate Gas Savings <> 0 and No Emissions  ***************
insert into InputValidation 
select  @JobID AS JobID, 'Output' AS [Table], 'Warning High' AS ErrorType, s.CET_ID AS ID, 'Gas savings but no gas emissions' as MessageType , '' as Detail
from  [dbo].OutputSavings s
LEFT JOIN [dbo].OutputEmissions e on s.CET_ID = e.CET_ID
where e.PA <> 'SCE' AND (IsNull(s.GrossThm,0) <> 0   and IsNull(e.GrossGasCO2,0) = 0)
--***********************************************************************************



--************** Validate Claim TRC > Std Dev  ***************
insert into InputValidation 
select  @JobID AS JobID, 'Output' AS [Table], 'Warning Low' AS ErrorType, ce.CET_ID AS ID, 'Claim TRC greater than three standard deviations' as MessageType , 'Claim TRC=' + Convert(varchar,Case WHEN IsNull(ce.TRCCost,0)>0 THEN (IsNull(ce.ElecBen,0) + IsNull(ce.GasBen,0))/IsNull(ce.TRCCost,0) ELSE 0 END) as Detail
from  [dbo].OutputCE ce
where Case WHEN IsNull(ce.TRCCost,0)>0 THEN (IsNull(ce.ElecBen,0) + IsNull(ce.GasBen,0))/IsNull(ce.TRCCost,0) ELSE 0 END > 
(
	select 3 * STDEV(TRCRatio) + AVG(TRCRatio) from [dbo].OutputCE
)



--************** Validate Claim TRC < .10  ***************
insert into InputValidation 
select  @JobID AS JobID, 'Output' AS [Table], 'Warning Low' AS ErrorType, ce.CET_ID AS ID, 'Very small TRC (< 0.1)' as MessageType , 'Claim TRC=' + Convert(varchar,Case WHEN IsNull(ce.TRCCost,0)>0 THEN (IsNull(ce.ElecBen,0) + IsNull(ce.GasBen,0))/IsNull(ce.TRCCost,0) ELSE 0 END) as Detail
from  [dbo].OutputCE ce
where Case WHEN IsNull(ce.TRCCost,0)>0 THEN (IsNull(ce.ElecBen,0) + IsNull(ce.GasBen,0))/IsNull(ce.TRCCost,0) ELSE 0 END < 0.1
--***********************************************************************************

-- END Validate Input





















GO
