USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[RunCET]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[RunCET]
@MeasureTable varchar(255)='EDFilled',
@ProgramTable varchar(255)='ProgramCost',
@MEBens float=0.0,
@MECost float=0.0,
@Description nvarchar(255) = '',
@CETSourceDbName nvarchar(255) = '',
@CETDataDbName nvarchar(255) = '',
@SourceType nvarchar(25) = 'CETDatabase',
@FilePath nvarchar(500) = '',
@User nvarchar(255) = '',
@AVCDbName nvarchar(255) = '',
@AVCVersion nvarchar(255) = '',
@FirstYear int = -1, -- Flag. Note: important: -1 indicates no parameter was passed used in later code. Do Not revise null option.
@IncludeNonresourceCosts bit = 0

AS

--SET FMTONLY OFF
SET NOCOUNT ON;

DECLARE @JobID int
DECLARE @MTableName varchar(255)
DECLARE @PTableName varchar(255)
DECLARE @Rows int
DECLARE @SQL nvarchar(max)
DECLARE @Host nvarchar(255)
DECLARE @CETCoreDbName nvarchar(255)
DECLARE @Version nvarchar(255) 
DECLARE @VersionSource nvarchar(255) 
DECLARE @VersionCore nvarchar(255) 
DECLARE @VersionData nvarchar(255) 
DECLARE @BaseYear int
DECLARE @AVCElecTable nvarchar(255)
DECLARE @AVCGasTable nvarchar(255)
DECLARE @ValidateRun int
DECLARE @ValResult int

Print '*********************'
Print 'Starting RunCET at ' + Convert(varchar,GetDate())


-- *****Validate CET Input  **********
Print 'Validating CET Input for SourceType, AVCVersion, and FirstYear'
EXEC @ValResult = ValidateCETInputs @SourceType, @AVCVersion, @FirstYear
IF @ValResult > 0 
BEGIN 
Print 'Validation failed. Exiting Run.'
Return 
END
Print 'Validation passed'


SET @BaseYear = (SELECT BaseYear from dbo.CETAvoidedCostVersions WHERE [Version] = @AVCVersion)
SET @AVCElecTable = (SELECT AVCElecTable from dbo.CETAvoidedCostVersions WHERE [Version] = @AVCVersion)
SET @AVCGasTable = (SELECT AVCGasTable from dbo.CETAvoidedCostVersions WHERE [Version] = @AVCVersion)

IF @FirstYear = -1
BEGIN
	SET @FirstYear = @BaseYear
END

PRINT  'First Year=' + Convert(varchar,@FirstYear)
PRINT  'Avoided Cost Version=' + Convert(varchar,@AVCVersion)

SET @Host = Host_Name()
SET @CETCoreDbName = DB_Name()

-- Set Description
IF @Description = ''
BEGIN
	SET @Description = 'RunDB job started at ' +  Convert(nvarchar(25), GetDate())
END

-- Set User
IF @User = ''
BEGIN
	SET @User = System_User
END

IF @SourceType = 'Excel' OR @SourceType = 'CEDARS'
BEGIN
	SET @MTableName = ''
	SET @PTableName = ''
END

SET @PTableName = @ProgramTable

-- Determine if we need to set the measure database
SET @MeasureTable = Replace(Replace(@MeasureTable,'[',''),']','') --  remove brackets around 'dbo'

IF PATINDEX('%.dbo.%',@MeasureTable) > 0 -- there is a database name
	BEGIN
	IF @CETSourceDbName = '' -- LEGACY: Get the Source Database name from the measure table. 
		BEGIN
			SET @CETSourceDbName = LEFT(@MeasureTable,  PATINDEX('%.dbo.%',@MeasureTable)-1)
		END
		SET @MTableName = RIGHT(@MeasureTable, LEN(@MeasureTable)- (PATINDEX('%.dbo.%',@MeasureTable)+4))
	END
ELSE -- only measure table
	BEGIN
		IF @CETSourceDbName = '' -- DEFAULT. Use Core Database if no Source database passed
		BEGIN
			SET @CETSourceDbName = DB_Name()
		END
		SET @MTableName = @MeasureTable
	END

EXEC dbo.GetCETVersion @Version = @VersionSource OUTPUT
EXEC dbo.GetCETVersion @CETCoreDbName, @Version = @VersionCore OUTPUT
EXEC dbo.GetCETVersion @CETCoreDbName, @Version = @VersionData OUTPUT

IF @AVCDbName = '' -- DEFAULT. Use Core Database if no Source database passed
BEGIN
	SET @AVCDbName = DB_Name()
END

PRINT 'CETDataDbName=' + Case When @CETDataDbName='' THEN DB_Name() ELSE @CETDataDbName END

BEGIN
EXEC	[dbo].[CreateJob]
		@JobDescription = @Description,
		@CETDataDbName = @CETDataDbName,
		@CETSourceDbName = @CETSourceDbName,
		@CETCoreDbName = @CETCoreDbName,
		@WebUserId = @User,
		@Server = @Host,
		@UserID = @User,
		@Password = '',
		@SourceType = @SourceType,
		@InputProgramTable = @PTableName,
		@InputMeasureTable = @MTableName,
		@InputFilePathMeasure = @FilePath,
		@CETSourceVersion = @VersionSource,
		@CETCoreVersion = @VersionCore,
		@CETDataVersion = @VersionData,
		@Status = 'InProgress',
		@StatusDetail = '',
		@MarketEffectBens = @MEBens,
		@MarketEffectCost = @MECost,
		@SavingsOnly = 0,
		@AvoidedCostDbName = @AVCDbName,
		@AvoidedCostVersion = @AVCVersion,
		@FirstYear = @FirstYear,
		@JobIDOut = @JobID OUTPUT
END

SELECT @JobID JobID


IF @SourceType = 'Excel'
BEGIN
	UPDATE dbo.InputMeasure SET JobID = @JobID
END

Print 'AvoidedCost Elec Table = ' + Convert(varchar,@AVCElecTable)
Print 'Initializing Avoided Cost Tables'
EXEC dbo.InitializeTablesAvoidedCosts @JobID, @AVCElecTable, @AVCGasTable, @BaseYear, @FirstYear, @AVCVersion

Print 'Initializing Source Tables'
EXEC InitializeSourceTables @JobID, @SourceType, @CETSourceDbName, @MTableName, @PTableName, @FirstYear, @AVCVersion, @IncludeNonresourceCosts

Print 'Initializing Mapping Tables, First Year = ' + Convert(varchar,@FirstYear)
EXEC InitializeTables @JobID, @SourceType, @CETSourceDbName, @MTableName, @PTableName, @FirstYear, @AVCVersion, @IncludeNonresourceCosts

Print 'Finalizing Tables and Run CET'
SET @ValidateRun = 0 -- Set Validation so that valoidation will be run
EXEC FinalizeTables @JobID, @MEBens, @MECost, @CETDataDbName, @ValidateRun, @AVCVersion, @FirstYear, @SourceType


Print 'End of RunCET job ' + Convert(varchar,@JobID) + ' at ' + Convert(varchar,GetDate())
Print '*********************'

SELECT Convert(int,@JobID) 

Return Convert(int,@JobID) 







GO
