USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[SaveCETVersionDBName]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SaveCETVersionDBName]
@Version varchar(255),
@CETDataDbName nvarchar(255)

AS

update CETVersion set DBName=  @CETDataDbName where YearDescription =  @Version


GO
