USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[ValidateCETInputs]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ValidateCETInputs]
@SourceType nvarchar(25) = 'CETDatabase',
@AVCVersion nvarchar(255) = '2013',
@FirstYear int

AS

DECLARE @AVCCount int
DECLARE @ErrorMsg nvarchar(255)

IF @SourceType <> 'Excel' and @SourceType <> 'CEDARS' and @SourceType <> 'CEDARSDatabase'  and @SourceType <> 'CEDARSExcel'and @SourceType <> 'CETInput' and @SourceType <> 'CETDatabase' and @SourceType <> 'EDFilledDatabase' 
BEGIN
	;THROW 50001, 'Input Validation Error: SourceType must be one of the following: Excel, CEDARS, CEDARSExcel, CEDARSDatabase, CETInput, CETDatabase, EDFilledDatabase',1;
END


SET @ErrorMsg = 'Avoided Cost Version 2013 cannot be run in CET_2018 v18.1. To run on 2013 avoided costs,  please use CET_2017 or CET_2018 v18.1' 
IF @AVCVersion = '2013'
BEGIN
	;THROW 50004, @ErrorMsg, 4;
END


SET @ErrorMsg = 'Input Validation Error: Avoided Cost Version ' + @AVCVersion + ' is not recognized. Please check to make sure it is a valid input (2017, 2018)' 
IF @AVCVersion = '2013'
BEGIN
	;THROW 50002, @ErrorMsg, 2;
END

SET @ErrorMsg = 'Input Validation Error: First Year must be between 2013 and 2040' 
IF @FirstYear <> -1 and (@FirstYear <2013 OR @FirstYear >2040) 
BEGIN
	;THROW 50003, @ErrorMsg, 3;
END


SET @AVCCount = (SELECT Count(*) FROM CETAvoidedCostVersions WHERE [Version] =  + @AVCVersion)
SET @ErrorMsg = 'Input Validation Error: Avoided Cost Version ' + @AVCVersion + ' is not recognized. Please check to make sure it is a valid input (2017, 2018)' 
IF @AVCCount = 0 OR @AVCVersion = '2013'
BEGIN
	;THROW 50004, @ErrorMsg, 4;
END








GO
