USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[InitializeTables]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InitializeTables]
@JobID INT = -1,
@SourceType NVARCHAR(25),
@SourceDatabase NVARCHAR(255),
@MeasureTable NVARCHAR(255),
@ProgramTable NVARCHAR(255),
--@Filter nvarchar(255) = '',
@FirstYear INT=2013,
@AVCVersion NVARCHAR(255),
@IncludeNonresourceCosts BIT = 0

AS

SET NOCOUNT ON

DECLARE @SourceMeasurevwSql NVARCHAR(MAX);
DECLARE @SourceProgramvwSql NVARCHAR(MAX);
DECLARE @MappingMeasurevwSql NVARCHAR(MAX);
DECLARE @MappingProgramvw NVARCHAR(MAX);
DECLARE @AvoidedCostElecvwSql NVARCHAR(MAX);
DECLARE @AvoidedCostGasvwSql NVARCHAR(MAX);
DECLARE @InputKeysvwSQL NVARCHAR(MAX);
DECLARE @InputFiltervwSql NVARCHAR(MAX);
DECLARE @InputMeasurevwSql NVARCHAR(MAX);
DECLARE @ISCombustType INT;
DECLARE @CombType NVARCHAR(255);
DECLARE @ISMeasInflation INT;
DECLARE @MeasInflation NVARCHAR(255);

---------Check for Combustion Type in Source data  --------
SET @ISCombustType = (SELECT COUNT(*) FROM sys.columns WHERE Name = N'CombustionType' AND Object_ID = Object_ID(N'SourceMeasurevw'))
IF @ISCombustType = 0
    BEGIN 
        SET @CombType = '''Residential Furnaces (<0.3):Uncontrolled'''
        PRINT 'CombustionType field is not present in source table.'
    END 
ELSE
    BEGIN 
        SET @CombType = 'CombustionType'
        PRINT 'CombustionType is present in source table.'
    END

---------Check for Measure Inflation in Source data  --------
SET @ISMeasInflation = (SELECT COUNT(*) FROM sys.columns WHERE Name = N'MeasInflation' AND Object_ID = Object_ID(N'SourceMeasurevw'))
IF @ISMeasInflation = 0
    BEGIN 
        SET @MeasInflation = '0'
        PRINT 'Measure Inflation (MeasInflation) field is not present in source table.'
    END 
ELSE
    BEGIN 
        SET @MeasInflation = 'ISNULL(MeasInflation,0)'
        PRINT 'Measure Inflation (MeasInflation) field is in source table.'
    END

---------Start Mapping Source Data  --------

IF @SourceType = 'CEDARS' OR @SourceType = 'CEDARSDatabase' OR @SourceType = 'CEDARSExcel'
BEGIN
    SET @MappingMeasurevwSql = 'ALTER VIEW [dbo].[MappingMeasurevw] AS

SELECT
' + CONVERT(VARCHAR,@JobID) + ' AS JobID,CEInputID CET_ID,PA,PrgID,
'''' AS ProgramName,MeasDescription Measurename,MeasureID,MeasImpactType,
case when FuelType is not null then FuelType ELSE CASE WHEN MeasImpactType like ''%FuelSub'' then ''FuelSub-ToElec'' else null end end as FuelType,
CASE WHEN E3MeaElecEndUseShape LIKE ''Non_res:DEER%'' THEN ''Non_res'' ELSE CASE WHEN E3MeaElecEndUseShape LIKE ''res:DEER%'' THEN ''Res'' ELSE E3TargetSector END END AS ElecTargetSector,
CASE WHEN E3MeaElecEndUseShape LIKE ''Non_res:DEER%'' THEN Replace(E3MeaElecEndUseShape,''Non_res:'','''') ELSE CASE WHEN E3MeaElecEndUseShape LIKE ''res:DEER%'' THEN Replace(E3MeaElecEndUseShape,''res:'','''') ELSE E3MeaElecEndUseShape END END AS ElecEndUseShape,
E3ClimateZone ClimateZone,E3GasSector GasSector,E3GasSavProfile GasSavingsProfile,
RateScheduleElec ElecRateSchedule,
RateScheduleGas GasRateSchedule,' + @CombType + ' AS CombType,ClaimYearQuarter,
NumUnits Qty,UnitkW1stBaseline UESkW,UnitkWh1stBaseline UESkWh,
UnitTherm1stBaseline UESThm,UnitkW2ndBaseline UESkW_ER,
UnitkWh2ndBaseline UESkWh_ER,UnitTherm2ndBaseline UESThm_ER,
UnitkWhIOUWater1stBaseline UESkWh_IOUWater,
UnitkWhIOUWater2ndBaseline UESkWh_IOUWater_ER,WaterUse,
NTGRkW,NTGRkWh,NTGRTherm NTGRThm,NTGRCost,EUL_Yrs EUL,RUL_Yrs RUL,
InstallationRatekWh IR,InstallationRatekW IRkW,
InstallationRatekWh IRkWh,InstallationRateTherm IRThm,
RealizationRatekWh RRkWh,RealizationRatekW RRkW,
RealizationRateTherm RRThm,UnitIncentiveToOthers IncentiveToOthers,
UnitEndUserRebate EndUserRebate,UnitDirectInstallLab DILaborCost,
UnitDirectInstallMat DIMaterialCost,
UnitMeaCost1stBaseline UnitMeasureGrossCost,
UnitMeaCost2ndBaseline UnitMeasureGrossCost_ER,
ISNULL(MeasInflation,0) AS MeasInflation,UnitGasInfraBens,UnitRefrigCosts,
UnitRefrigBens,UnitMiscCosts,MiscCostsDesc,UnitMiscBens,MiscBensDesc,
UnitTaxCredits,Sector,'''' AS EndUse,'''' AS BuildingType,'''' AS MeasureGroup,
'''' AS SolutionCode,'''' AS Technology,'''' AS Channel,'''' AS IsCustom,
'''' AS Location,'''' AS ProgramType,'''' AS UnitType,'''' AS Comments,
'''' AS DataField
FROM [dbo].[SourceMeasurevw]
'

SET @MappingProgramvw = 'ALTER VIEW [dbo].[MappingProgramvw] AS

SELECT
    ' + CONVERT(VARCHAR,@JobID) + ' AS JobID, 
    PA,
    PrgID,
    '''' AS ProgramName,
    ClaimYearQuarter,
    AdminCostsOverheadAndGA,
    AdminCostsOther,
    MarketingOutreach,
    DIActivity,
    DIInstallation,
    DIHardwareAndMaterials,
    DIRebateAndInspection,
    EMV,
    UserInputIncentive,
    CostsRecoveredFromOtherSources, 
    OnBillFinancing
FROM [dbo].SourceProgramvw'
END

--**************************************************************************************
-- Script InputMeasurevw View because the calculated field 'Qm' is dependent on First Year.
SET @InputMeasurevwSql = 'ALTER VIEW [dbo].[InputMeasurevw] AS

SELECT
' + CONVERT(VARCHAR,@JobID) + ' AS JobID,
CET_ID,PA,PrgID,ProgramName,MeasureName,MeasureID,MeasImpactType,FuelType,ISNULL(ElecTargetSector,'''') TS,
ISNULL(ElecEndUseShape,'''') EU,
ISNULL(ClimateZone,'''') CZ,ISNULL(GasSector,'''') GS,ISNULL(GasSavingsProfile,'''') GP,
ISNULL(ElecRateSchedule,'''') ElecRateSchedule,
ISNULL(GasRateSchedule,'''') GasRateSchedule,' + @AVCVersion + ' AVCVersion,
CombType,ClaimYearQuarter Qtr,
(CONVERT(INT,SUBSTRING(ClaimYearQuarter,1,4)-' + CONVERT(VARCHAR,@FirstYear) + ')*4)+CONVERT(INT,SUBSTRING(ClaimYearQuarter,6,1))-1 Qm,
(CONVERT(INT,SUBSTRING(ClaimYearQuarter,1,4)-' + CONVERT(VARCHAR,@FirstYear) + ')) Qy,
ISNULL(Qty,0) Qty,ISNULL(UESkW,0) kW1,ISNULL(UESkWh,0) kWh1,ISNULL(UESThm,0) Thm1,
ISNULL(UESkW_ER,0) kW2,ISNULL(UESkWh_ER,0) kWh2,ISNULL(UESThm_ER,0) Thm2,
ISNULL(UESkWh_IOUWater,0) kWhWater1,ISNULL(UESkWh_IOUWater_ER,0) kWhWater2,WaterUse,
Coalesce(NTGRkW,NTGRkWh,1) NTGRkW,ISNULL(NTGRkWh,1) NTGRkWh,
Coalesce(NTGRThm,NTGRkWh,1) NTGRThm,Coalesce(NTGRCost,NTGRkWh,1) NTGRCost,
ISNULL(IRkWh,1) IR,ISNULL(IRkW,1) IRkW,ISNULL(IRkWh,1) IRkWh,ISNULL(IRThm,1) IRThm,
ISNULL(RRkWh,1) RR,ISNULL(RRkWh,1) RRkWh,ISNULL(RRkW,1) RRkW,ISNULL(RRThm,1) RRThm,
ISNULL(IncentiveToOthers,0) IncentiveToOthers,ISNULL(EndUserRebate,0) EndUserRebate,
ISNULL(DILaborCost,0) DILaborCost,ISNULL(DIMaterialCost,0) DIMaterialCost,
ISNULL(UnitMeasureGrossCost,0) UnitMeasureGrossCost,
ISNULL(UnitMeasureGrossCost_ER,0) UnitMeasureGrossCost_ER,ISNULL(EUL,0)*4 eulq,
CASE WHEN ISNULL(RUL,0)>=ISNULL(EUL,0) THEN ISNULL(RUL,0) WHEN ISNULL(RUL,0)>0 THEN RUL ELSE ISNULL(EUL,0) END*4 eulq1,
CASE WHEN ISNULL(CASE WHEN RUL>=EUL THEN 0 ELSE RUL END,0)>0 THEN ISNULL(EUL,0)*4 ELSE 0 END eulq2,
CASE WHEN ISNULL(RUL,0) >= ISNULL(EUL,0) THEN ISNULL(RUL,0) WHEN ISNULL(RUL,0)>0 THEN RUL ELSE ISNULL(EUL,0) END eul1,
CASE WHEN ISNULL( CASE WHEN RUL >= EUL THEN 0 ELSE RUL END,0)>0 THEN ISNULL(EUL,0) ELSE 0 END eul2,
ISNULL( CASE WHEN RUL >= EUL THEN 0 ELSE RUL END, 0 )*4 rulq,
CASE WHEN ISNULL(RUL,0) >= ISNULL(EUL,0) THEN ISNULL(RUL,0) ELSE ISNULL(EUL,0) END EUL,
ISNULL( CASE WHEN RUL >= EUL THEN 0 ELSE RUL END,0) RUL,
PA + ElecTargetSector + ElecEndUseShape + ClimateZone ACElecKey,
PA + GasSector + GasSavingsProfile ACGasKey,
ISNULL(UnitMeasureGrossCost_ER,0) MeasIncrCost,
ISNULL(MeasInflation,0) MeasInflation,UnitGasInfraBens,UnitRefrigCosts,
UnitRefrigBens,UnitMiscCosts,MiscCostsDesc,UnitMiscBens,MiscBensDesc,
UnitTaxCredits,Sector,EndUse,BuildingType,MeasureGroup,SolutionCode,Technology,
Channel,IsCustom,Location,ProgramType,UnitType,Comments,DataField
FROM MappingMeasurevw
'

BEGIN TRY

    EXEC  sp_executesql @MappingMeasurevwSql
    EXEC  sp_executesql @MappingProgramvw
    EXEC  sp_executesql @InputMeasurevwSql

---------End Mapping Data  --------


DELETE FROM OutputCE

DELETE FROM OutputEmissions

DELETE FROM OutputSavings

DELETE FROM OutputCost

----End Initialize Tables

END TRY

BEGIN CATCH

    DECLARE @ErrorMessage NVARCHAR(2000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @ErrorProcedure NVARCHAR(2000);
    DECLARE @ErrorText NVARCHAR(4000);

    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE(),
        @ErrorProcedure = ERROR_PROCEDURE(),
        @ErrorText = @ErrorProcedure + ': ' + @ErrorMessage;
        UPDATE [dbo].[CETJobs]
    SET [StatusDetail] =  @ErrorProcedure + ': ' + @ErrorMessage
    WHERE [ID] = @JobID
    
    RAISERROR (@ErrorText, 
               @ErrorSeverity,
               @ErrorState
    );    
END CATCH


GO
