USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetCETVersion]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetCETVersion]
@CETDataDbName nvarchar(255) = '',
@Version varchar(10) ='' OUTPUT

AS

DECLARE @SQL nvarchar(max);
DECLARE @Scope TABLE (Ver nvarchar(255));
DECLARE @Ver nvarchar(255)

IF @CETDataDbName =''
	BEGIN
		SET @CETDataDbName = 'dbo.'
	END 
ELSE
	BEGIN
		SET @CETDataDbName = @CETDataDbName + '.dbo.'
	END 

--************** Do Insert  ***************
SET @SQL = 
'SELECT [Version] FROM ' + @CETDataDbName + '[CETVersion] WHERE ID IN
(
	SELECT Max(ID)  FROM ' + @CETDataDbName + '[CETVersion]
)'

INSERT INTO @Scope
EXEC sp_executesql @SQL

select @Version = Ver FROM @Scope 


GO
