USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetValidationCount]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetValidationCount]
         @JobID int,
		 @Count int OUTPUT
AS

BEGIN

	SELECT @Count = Count(*) FROM [InputValidation]
	--SELECT @Count = Count(*)  FROM SavedValidation   WHERE JobID = @JobID
END


GO
