USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[ValidationSummary]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ValidationSummary]

AS

--*********** Display Summary of Results  ********************
select [Table], ErrorType, Count(*) [Count],MessageType 
from InputValidation
group by [Table], ErrorType, MessageType
UNION
select [Table], ErrorType, Count(*) [Count],MessageType 
from InputValidation
group by [Table], ErrorType, MessageType
UNION
select [Table], ErrorType, Count(*) [Count],MessageType 
from InputValidation
--where PA IN ('PGE','SCE','SCG','SDGE') 
--and ([Table]<>'ProgramCost' and [Table]<>'ProgramDefinition')
group by [Table], ErrorType, MessageType
order by ErrorType, MessageType


















GO
