USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[SaveInputCEDARS]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[SaveInputCEDARS]
@JobID INT = -1,
@MEBens FLOAT,
@MECost FLOAT,
@CETDataDbName VARCHAR(255)=''
AS
SET NOCOUNT ON

DECLARE @SQL1 nvarchar(max)
DECLARE @SQL2 nvarchar(max)


-- Clear SavedKeys table for Job
SET @SQL1 = 'DELETE FROM SavedInputCEDARS WHERE JobID=' + Convert(nvarchar,@JobID)
EXEC  sp_executesql @SQL1

IF @CETDataDbName =''
	BEGIN
		SET @CETDataDbName = 'dbo.'
	END 
ELSE
	BEGIN
		SET @CETDataDbName = @CETDataDbName + '.dbo.'
	END 



--************** Start Input  ***************

SET @SQL2 = 
'INSERT INTO ' + @CETDataDbName + 'SavedInputCEDARS
(
      [JobID]
      ,[CEInputID]
      ,[PA]
      ,[PrgID]
      ,[ClaimYearQuarter]
      ,[MeasDescription]
      ,[MeasImpactType]
      ,[FuelID]
      ,[MeasCode]
      ,[MeasureID]
      ,[E3TargetSector]
      ,[E3MeaElecEndUseShape]
      ,[E3ClimateZone]
      ,[E3GasSavProfile]
      ,[E3GasSector]
      ,[NumUnits]
      ,[EUL_ID]
      ,[EUL_Yrs]
      ,[RUL_ID]
      ,[RUL_Yrs]
      ,[NTG_ID]
      ,[NTGRkW]
      ,[NTGRkWh]
      ,[NTGRTherm]
      ,[NTGRCost]
      ,[InstallationRatekW]
      ,[InstallationRatekWh]
      ,[InstallationRateTherm]
      ,[MeasInflation]
      ,[RealizationRatekW]
      ,[RealizationRatekWh]
      ,[RealizationRateTherm]
      ,[UnitkW1stBaseline]
      ,[UnitkW2ndBaseline]
      ,[UnitkWh1stBaseline]
      ,[UnitkWh2ndBaseline]
      ,[UnitTherm1stBaseline]
      ,[UnitTherm2ndBaseline]
      ,[UnitkWhIOUWater1stBaseline]
      ,[UnitkWhIOUWater2ndBaseline]
      ,[WaterUse]
      ,[UnitMeaCost1stBaseline]
      ,[UnitMeaCost2ndBaseline]
      ,[UnitDirectInstallLab]
      ,[UnitDirectInstallMat]
      ,[UnitEndUserRebate]
      ,[UnitIncentiveToOthers]
      ,[UnitGasInfraBens]
      ,[UnitRefrigCosts]
      ,[UnitRefrigBens]
      ,[UnitMiscCosts]
      ,[MiscCostsDesc]
      ,[UnitMiscBens]
      ,[MiscBensDesc]
      ,[UnitTaxCredits]
      ,[Sector]
      ,[UseCategory]
      ,[UseSubCategory]
      ,[Residential_Flag]
      ,[Upstream_Flag]
      ,[GSIA_ID]
      ,[BldgType]
      ,[DeliveryType]
      ,[MeasAppType]
      ,[NormUnit]
      ,[PreDesc]
      ,[RateScheduleGas]
      ,[CombustionType]
      ,[SourceDesc]
      ,[StdDesc]
      ,[RateScheduleElec]
      ,[TechGroup]
      ,[TechType]
      ,[Version]
      ,[Comments]
)

SELECT ' + CONVERT(NVARCHAR,@JobID) + ' AS JobID
      ,[CEInputID]
      ,[PA]
      ,[PrgID]
      ,[ClaimYearQuarter]
      ,[MeasDescription]
      ,[MeasImpactType]
      ,[FuelType]
      ,[MeasCode]
      ,[MeasureID]
      ,[E3TargetSector]
      ,[E3MeaElecEndUseShape]
      ,[E3ClimateZone]
      ,[E3GasSavProfile]
      ,[E3GasSector]
      ,[NumUnits]
      ,[EUL_ID]
      ,[EUL_Yrs]
      ,[RUL_ID]
      ,[RUL_Yrs]
      ,[NTG_ID]
      ,[NTGRkW]
      ,[NTGRkWh]
      ,[NTGRTherm]
      ,[NTGRCost]
      ,[InstallationRatekW]
      ,[InstallationRatekWh]
      ,[InstallationRateTherm]
      ,[MeasInflation]
      ,[RealizationRatekW]
      ,[RealizationRatekWh]
      ,[RealizationRateTherm]
      ,[UnitkW1stBaseline]
      ,[UnitkW2ndBaseline]
      ,[UnitkWh1stBaseline]
      ,[UnitkWh2ndBaseline]
      ,[UnitTherm1stBaseline]
      ,[UnitTherm2ndBaseline]
      ,[UnitkWhIOUWater1stBaseline]
      ,[UnitkWhIOUWater2ndBaseline]
      ,[WaterUse]
      ,[UnitMeaCost1stBaseline]
      ,[UnitMeaCost2ndBaseline]
      ,[UnitDirectInstallLab]
      ,[UnitDirectInstallMat]
      ,[UnitEndUserRebate]
      ,[UnitIncentiveToOthers]
      ,[UnitGasInfraBens]
      ,[UnitRefrigCosts]
      ,[UnitRefrigBens]
      ,[UnitMiscCosts]
      ,[MiscCostsDesc]
      ,[UnitMiscBens]
      ,[MiscBensDesc]
      ,[UnitTaxCredits]
      ,[Sector]
      ,[UseCategory]
      ,[UseSubCategory]
      ,[Residential_Flag]
      ,[Upstream_Flag]
      ,[GSIA_ID]
      ,[BldgType]
      ,[DeliveryType]
      ,[MeasAppType]
      ,[NormUnit]
      ,[PreDesc]
      ,[RateScheduleGas]
      ,[CombustionType]
      ,[SourceDesc]
      ,[StdDesc]
      ,[RateScheduleElec]
      ,[TechGroup]
      ,[TechType]
      ,[Version]
      ,[Comments]
  FROM [dbo].[SourceMeasurevw]
  order by CEInputID'

EXEC  sp_executesql @SQL2



GO
