USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetProgramInputsAllByJobID]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GetProgramInputsAllByJobID]
         @JobID int
AS
BEGIN

SELECT 
       [PA]
      ,[PrgID]
      ,[ProgramName]
      ,[Year] [ClaimYearQuarter]
      ,[AdminCostsOverheadAndGA]
      ,[AdminCostsOther]
      ,[MarketingOutreach]
      ,[DIActivity]
      ,[DIInstallation]
      ,[DIHardwareAndMaterials]
      ,[DIRebateAndInspection]
      ,[EMV]
      ,[UserInputIncentive]
      ,[CostsRecoveredFromOtherSources]
      ,[OnBillFinancing]
  FROM [dbo].[SavedProgramCost]
  WHERE JobID = @JobID
  
  END






















GO
