USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetValidationsAllByJobIDPaged]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetValidationsAllByJobIDPaged]
         @JobID int
		 ,@StartRow int = 0
		 ,@NumRows int = 250
AS
BEGIN

SELECT  *
FROM     
(
SELECT DISTINCT ROW_NUMBER() OVER (ORDER BY c.ID ASC) AS Row
	  ,c.JobID
      ,c.[PA]
      ,c.[PrgID]
      ,c.[CET_ID]
      ,k.TS [ElecTargetSector]
      ,k.EU [ElecEndUseShape]
      ,k.CZ [ClimateZone]
      ,k.GS [GasSector]
      ,k.GP [GasSavingsProfile]
      ,k.Qtr [ClaimYearQuarter]
      ,v.[MessageType]
      ,m.[Message]
  FROM [SavedValidation] v
  LEFT JOIN CETTypeMessage m on v.MessageType = m.ID
  LEFT JOIN SavedCE c on v.CET_ID = c.CET_ID and v.JobID = c.JobID
  LEFT JOIN SavedInput k on v.CET_ID = k.CET_ID and v.JobID = k.JobID
  WHERE  v.JobID = @JobID
  ) tmp
WHERE JobID = @JobID AND (Row >= @StartRow AND Row <= @StartRow + @NumRows)
GROUP BY Row, JobID, PA, PrgID, CET_ID,[ElecTargetSector],[ElecEndUseShape],[ClimateZone],[GasSector],[GasSavingsProfile],[ClaimYearQuarter],[MessageType],[Message]

 
END










GO
