USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetValidationsAllByJobID]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[GetValidationsAllByJobID]
         @JobID int
AS
BEGIN

SELECT DISTINCT 
	   k.[PA]
	  ,k.[PrgID]
      ,k.[CET_ID]
      ,k.TS [ElecTargetSector]
      ,k.EU [ElecEndUseShape]
      ,k.CZ [ClimateZone]
      ,k.GS [GasSector]
      ,k.GP [GasSavingsProfile]
      ,k.Qtr [ClaimYearQuarter]
      ,v.[MessageType] MessageType
  FROM [SavedValidation] v
  LEFT JOIN SavedInput k on v.CET_ID = k.CET_ID
  WHERE  v.JobID = @JobID  and k.JobID = @JobID

 
END

















GO
