USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[SaveSavings]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SaveSavings]
@JobID INT = -1,
@CETDataDbName VARCHAR(255)=''

AS

SET NOCOUNT ON

DECLARE @SQL1 nvarchar(max)
DECLARE @SQL2 NVARCHAR(MAX)

-- Clear SavedKeys table for Job
SET @SQL1 = 'DELETE FROM SavedSavings WHERE JobID=' + CONVERT(NVARCHAR,@JobID)
EXEC  sp_executesql @SQL1

IF @CETDataDbName =''
    BEGIN
        SET @CETDataDbName = 'dbo.'
    END 
ELSE
    BEGIN
        SET @CETDataDbName = @CETDataDbName + '.dbo.'
    END 

--************** Start Insert  ***************
SET @SQL2 = 
'INSERT INTO ' + @CETDataDbName + 'SavedSavings 
SELECT ' + CONVERT(NVARCHAR,@JobID) + ' AS JobID
      ,[PA]
      ,[PrgID]
      ,[CET_ID]
      ,[AnnualGrosskWh]
      ,[AnnualGrosskWhSite]
      ,[AnnualGrosskWhWater]
      ,[AnnualGrosskW]
      ,[AnnualGrossThm]
      ,[AnnualNetkWh]
      ,[AnnualNetkWhSite]
      ,[AnnualNetkWhWater]
      ,[AnnualNetkW]
      ,[AnnualNetThm]
      ,[LifecycleGrosskWh]
      ,[LifecycleGrosskWhSite]
      ,[LifecycleGrosskWhWater]
      ,[LifecycleGrossThm]
      ,[LifecycleNetkWh]
      ,[LifecycleNetkWhSite]
      ,[LifecycleNetkWhWater]
      ,[LifecycleNetThm]
      ,[FirstYearGrosskWh]
      ,[FirstYearGrosskWhSite]
      ,[FirstYearGrosskWhWater]
      ,[FirstYearGrosskW]
      ,[FirstYearGrossThm]
      ,[FirstYearNetkWh]
      ,[FirstYearNetkWhSite]
      ,[FirstYearNetkWhWater]
      ,[FirstYearNetkW]
      ,[FirstYearNetThm]
      ,[WeightedSavings]
  FROM [dbo].[OutputSavings]'

EXEC  sp_executesql @SQL2




GO
