USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetAvoidedCostVersion]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GetAvoidedCostVersion]
@Version varchar(255),
@AvoidedCostVersion nvarchar(255) OUTPUT

AS

select @AvoidedCostVersion = AvoidedCostVersion from CETVersion v where v.YearDescription =  @Version



GO
