USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetJobStatusByUser]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetJobStatusByUser]
         @UserId nVarchar(256)		 
AS
BEGIN
SELECT [id]
      ,[dataLoadStatusId]
      ,[status]
      ,[message]
      ,[jobId]
      ,[modifiedUser]
      ,[modifiedDate]
  FROM [dbo].[CETDataLoadStatusHistory]
  Where dataLoadStatusId = (SELECT top 1 [id] FROM [dbo].[CETDataLoadStatus] where modifiedUser=@UserId order by jobid desc)
  order by id desc
END
GO
