USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetPrograms]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPrograms]
         @JobID int,
		 @PAString nvarchar(100) = NULL,
		 @GroupByClause nvarchar(50),	
		 @SearchString nvarchar(100) 
AS
BEGIN
IF @GroupByClause is NULL OR @GroupByClause = 'Programs'
SELECT 0 as ID,
      [PA]
      ,[PrgID]
      ,Sum([ElecBen]) ElecBen
      ,Sum([GasBen]) GasBen
      ,Sum([TRCCost]) TRCCost
      ,Sum([PACCost]) PACCost
      ,Sum([TRCCostNoAdmin]) TRCCostNoAdmin
      ,Sum([PACCostNoAdmin]) PACCostNoAdmin
	  ,CASE WHEN Sum(IsNull(TRCCost,0)) > 0 THEN (Sum(ElecBen) + Sum(GasBen))/Sum(TRCCost) ELSE 0 END AS TRCRatio
	  ,CASE WHEN Sum(IsNull(PACCost,0)) > 0 THEN (Sum(ElecBen) + Sum(GasBen))/Sum(PACCost) ELSE 0 END AS PACRatio
	  ,CASE WHEN Sum(IsNull(TRCCostNoAdmin,0)) > 0 THEN (Sum(ElecBen) + Sum(GasBen))/Sum(TRCCostNoAdmin) ELSE 0 END AS TRCRatioNoAdmin
	  ,CASE WHEN Sum(IsNull(PACCostNoAdmin,0)) > 0 THEN (Sum(ElecBen) + Sum(GasBen))/Sum(PACCostNoAdmin) ELSE 0 END AS PACRatioNoAdmin
  FROM [SavedCE]
  WHERE (@PAString IS NULL OR PA IN (SELECT val FROM dbo.SplitString(@PAString, ','))) AND PrgID like '%' + @SearchString + '%' AND JobID = @JobID
  Group By PA, PrgID 
  Order By PA, PrgID
ELSE
SELECT JOBID, jobs.JobDescription + ' (Job ID: ' + CONVERT(NVARCHAR(50), JOBID) + ')' as JobDescription,
      Sum([ElecBen]) ElecBen
      ,Sum([GasBen]) GasBen
      ,Sum([TRCCost]) TRCCost
      ,Sum([PACCost]) PACCost
      ,Sum([TRCCostNoAdmin]) TRCCostNoAdmin
      ,Sum([PACCostNoAdmin]) PACCostNoAdmin
	  ,CASE WHEN Sum(IsNull(TRCCost,0)) > 0 THEN (Sum(ElecBen) + Sum(GasBen))/Sum(TRCCost) ELSE 0 END AS TRCRatio
	  ,CASE WHEN Sum(IsNull(PACCost,0)) > 0 THEN (Sum(ElecBen) + Sum(GasBen))/Sum(PACCost) ELSE 0 END AS PACRatio
	  ,CASE WHEN Sum(IsNull(TRCCostNoAdmin,0)) > 0 THEN (Sum(ElecBen) + Sum(GasBen))/Sum(TRCCostNoAdmin) ELSE 0 END AS TRCRatioNoAdmin
	  ,CASE WHEN Sum(IsNull(PACCostNoAdmin,0)) > 0 THEN (Sum(ElecBen) + Sum(GasBen))/Sum(PACCostNoAdmin) ELSE 0 END AS PACRatioNoAdmin
  FROM [SavedCE] oce
JOIN [dbo].[CETJobs] jobs
ON oce.jobID = jobs.ID
WHERE (@PAString IS NULL OR PA IN (SELECT val FROM dbo.SplitString(@PAString, ','))) AND jobs.JobDescription like '%' + @SearchString + '%'
GROUP BY JOBID, jobs.JobDescription

END



GO
