USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetResultRowCount]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetResultRowCount]
         @JobID int,
		 @Count int OUTPUT
AS

BEGIN

	SELECT @Count = Count(*)  FROM SavedCE   WHERE JobID = @JobID
END

GO
