USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[SaveCE]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SaveCE]
@JobID INT = -1,
@CETDataDbName VARCHAR(255)=''

AS

SET NOCOUNT ON

DECLARE @SQL nvarchar(max)

IF @CETDataDbName =''
	BEGIN
		SET @CETDataDbName = 'dbo.'
	END 
ELSE
	BEGIN
		SET @CETDataDbName = @CETDataDbName + '.dbo.'
	END 

-- Clear table for Job
SET @SQL = 'DELETE FROM ' + @CETDataDbName + 'SavedCE WHERE JobID=' + CONVERT(NVARCHAR,@JobID)
EXEC  sp_executesql @SQL

	
--************** Start Validate Input  ***************
SET @SQL = 
'INSERT INTO ' + @CETDataDbName + 'SavedCE (
       JobID
	  ,[PA]
      ,[PrgID]
      ,[CET_ID]
      ,[ElecBen]
      ,[ElecBen_SB]
      ,[ElecBen_SH]
      ,[GasBen]
      ,[GasBen_SB]
      ,[GasBen_SH]
      ,[TaxCredits]
      ,[WaterEnergyBen]
      ,[WaterEnergyBen_SB]
      ,[WaterEnergyBen_SH]
      ,[OtherBen]
      ,[ElecBenGross]
      ,[ElecBenGross_SB]
      ,[ElecBenGross_SH]
      ,[GasBenGross]
      ,[GasBenGross_SB]
      ,[GasBenGross_SH]
      ,[TaxCreditsGross]
      ,[WaterEnergyBenGross]
      ,[WaterEnergyBenGross_SB]
      ,[WaterEnergyBenGross_SH]
      ,[OtherBenGross]
      ,[ElecSupplyCost]
      ,[ElecSupplyCost_SB]
      ,[ElecSupplyCost_SH]
      ,[GasSupplyCost]
      ,[GasSupplyCost_SB]
      ,[GasSupplyCost_SH]
      ,[WaterEnergyCost]
      ,[WaterEnergyCost_SB]
      ,[WaterEnergyCost_SH]
      ,[OtherCost]
      ,[ElecSupplyCostGross]
      ,[ElecSupplyCostGross_SB]
      ,[ElecSupplyCostGross_SH]
      ,[GasSupplyCostGross]
      ,[GasSupplyCostGross_SB]
      ,[GasSupplyCostGross_SH]
      ,[WaterEnergyCostGross]
      ,[WaterEnergyCostGross_SB]
      ,[WaterEnergyCostGross_SH]
      ,[OtherCostGross]
      ,[BillReducElec]
      ,[BillIncrElec]
      ,[BillReducGas]
      ,[BillIncrGas]
      ,[TotalSystemBenefit]
      ,[TotalSystemBenefitGross]
      ,[SCBCost]
      ,[SCHCost]
      ,[TRCCost]
      ,[PACCost]
      ,[RIMCost]
      ,[SCBCostGross]
      ,[SCBCostNoAdmin]
      ,[SCHCostGross]
      ,[SCHCostNoAdmin]
      ,[TRCCostGross]
      ,[TRCCostNoAdmin]
      ,[PACCostNoAdmin]
      ,[RIMCostNoAdmin]
      ,[SCBRatio]
      ,[SCHRatio]
      ,[TRCRatio]
      ,[PACRatio]
      ,[RIMRatio]
      ,[SCBRatioNoAdmin]
      ,[SCHRatioNoAdmin]
      ,[TRCRatioNoAdmin]
      ,[PACRatioNoAdmin]
      ,[RIMRatioNoAdmin]
      ,[WeightedBenefits]
      ,[WeightedElecAlloc]
      ,[WeightedProgramCost])  
SELECT ' + CONVERT(NVARCHAR,@JobID) + ' AS JobID
      ,[PA]
      ,[PrgID]
      ,[CET_ID]
      ,[ElecBen]
      ,[ElecBen_SB]
      ,[ElecBen_SH]
      ,[GasBen]
      ,[GasBen_SB]
      ,[GasBen_SH]
      ,[TaxCredits]
      ,[WaterEnergyBen]
      ,[WaterEnergyBen_SB]
      ,[WaterEnergyBen_SH]
      ,[OtherBen]
      ,[ElecBenGross]
      ,[ElecBenGross_SB]
      ,[ElecBenGross_SH]
      ,[GasBenGross]
      ,[GasBenGross_SB]
      ,[GasBenGross_SH]
      ,[TaxCreditsGross]
      ,[WaterEnergyBenGross]
      ,[WaterEnergyBenGross_SB]
      ,[WaterEnergyBenGross_SH]
      ,[OtherBenGross]
      ,[ElecSupplyCost]
      ,[ElecSupplyCost_SB]
      ,[ElecSupplyCost_SH]
      ,[GasSupplyCost]
      ,[GasSupplyCost_SB]
      ,[GasSupplyCost_SH]
      ,[WaterEnergyCost]
      ,[WaterEnergyCost_SB]
      ,[WaterEnergyCost_SH]
      ,[OtherCost]
      ,[ElecSupplyCostGross]
      ,[ElecSupplyCostGross_SB]
      ,[ElecSupplyCostGross_SH]
      ,[GasSupplyCostGross]
      ,[GasSupplyCostGross_SB]
      ,[GasSupplyCostGross_SH]
      ,[WaterEnergyCostGross]
      ,[WaterEnergyCostGross_SB]
      ,[WaterEnergyCostGross_SH]
      ,[OtherCostGross]
      ,[BillReducElec]
      ,[BillIncrElec]
      ,[BillReducGas]
      ,[BillIncrGas]
      ,[TotalSystemBenefit]
      ,[TotalSystemBenefitGross]
      ,[SCBCost]
      ,[SCHCost]
      ,[TRCCost]
      ,[PACCost]
      ,[RIMCost]
      ,[SCBCostGross]
      ,[SCBCostNoAdmin]
      ,[SCHCostGross]
      ,[SCHCostNoAdmin]
      ,[TRCCostGross]
      ,[TRCCostNoAdmin]
      ,[PACCostNoAdmin]
      ,[RIMCostNoAdmin]
      ,[SCBRatio]
      ,[SCHRatio]
      ,[TRCRatio]
      ,[PACRatio]
      ,[RIMRatio]
      ,[SCBRatioNoAdmin]
      ,[SCHRatioNoAdmin]
      ,[TRCRatioNoAdmin]
      ,[PACRatioNoAdmin]
      ,[RIMRatioNoAdmin]
      ,[WeightedBenefits]
      ,[WeightedElecAlloc]
      ,[WeightedProgramCost]
FROM [dbo].[OutputCE]'

EXEC  sp_executesql @SQL




GO
