USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetValidationSummaryByJobID]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GetValidationSummaryByJobID]
         @JobID int
AS
BEGIN

SELECT 
	 v.[Table]
	,v.ErrorType
	, Count(*) AS [MessageCount]
    ,v.[MessageType] MessageType
  FROM [SavedValidation] v
  WHERE  v.JobID = @JobID
  GROUP BY  v.[Table],v.ErrorType,v.[MessageType]
  ORDER BY v.ErrorType, Count(*) DESC
END












GO
