USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[SaveCost]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SaveCost]
@JobID int = -1,
@CETDataDbName varchar(255)=''

AS

SET NOCOUNT ON

DECLARE @SQL1 nvarchar(max)
DECLARE @SQL2 nvarchar(max)

-- Clear SavedKeys table for Job
SET @SQL1 = 'DELETE FROM SavedCost WHERE JobID=' + Convert(nvarchar,@JobID)
EXEC  sp_executesql @SQL1

IF @CETDataDbName =''
	BEGIN
		SET @CETDataDbName = 'dbo.'
	END 
ELSE
	BEGIN
		SET @CETDataDbName = @CETDataDbName + '.dbo.'
	END 

--************** Start Insert  ***************
SET @SQL2 = 
'INSERT INTO ' + @CETDataDbName + 'SavedCost (
      JobID
      ,PA
      ,PrgID
      ,CET_ID
      ,IncentiveToOthers
      ,DILaborCost
      ,DIMaterialCost
      ,EndUserRebate
      ,RebatesandIncents
      ,GrossMeasureCost
      ,ExcessIncentives
      ,MarkEffectPlusExcessInc
      ,GrossParticipantCost
      ,GrossParticipantCostAdjusted
      ,NetParticipantCost
      ,NetParticipantCostAdjusted
      ,RebatesandIncentsPV
      ,GrossMeasCostPV
      ,ExcessIncentivesPV
      ,MarkEffectPlusExcessIncPV
      ,GrossParticipantCostPV
      ,GrossParticipantCostAdjustedPV
      ,NetParticipantCostPV
      ,NetParticipantCostAdjustedPV
      ,WtdAdminCostsOverheadAndGA
      ,WtdAdminCostsOther
      ,WtdMarketingOutreach
      ,WtdDIActivity
      ,WtdDIInstallation
      ,WtdDIHardwareAndMaterials
      ,WtdDIRebateAndInspection
      ,WtdEMV
      ,WtdUserInputIncentive
      ,WtdCostsRecoveredFromOtherSources
      ,ProgramCosts
      ,TotalExpenditures
      ,DiscountedSavingsGrosskWh
      ,DiscountedSavingsNetkWh
      ,DiscountedSavingsGrossThm
      ,DiscountedSavingsNetThm
      ,SCBLifecycleNetBen
      ,SCHLifecycleNetBen
      ,TRCLifecycleNetBen
      ,PACLifecycleNetBen
      ,LevBenElec_SB
      ,LevBenElec_SH
      ,LevBenElec
      ,LevBenGas
      ,LevSCBCost
      ,LevSCBCostNoAdmin
      ,LevSCHCost
      ,LevSCHCostNoAdmin
      ,LevTRCCost
      ,LevTRCCostNoAdmin
      ,LevPACCost
      ,LevPACCostNoAdmin
      ,LevRIMCost
      ,LevNetBenSCBElec
      ,LevNetBenSCBElecNoAdmin
      ,LevNetBenSCHElec
      ,LevNetBenSCHElecNoAdmin
      ,LevNetBenTRCElec
      ,LevNetBenTRCElecNoAdmin
      ,LevNetBenPACElec
      ,LevNetBenPACElecNoAdmin
      ,LevNetBenTRCGas
      ,LevNetBenTRCGasNoAdmin
      ,LevNetBenPACGas
      ,LevNetBenPACGasNoAdmin
      ,LevNetBenRIMElec
      ,LevNetBenRIMGas)
SELECT ' + Convert(nvarchar,@JobID) + ' AS JobID
      ,PA
      ,PrgID
      ,CET_ID
      ,IncentiveToOthers
      ,DILaborCost
      ,DIMaterialCost
      ,EndUserRebate
      ,RebatesandIncents
      ,GrossMeasureCost
      ,ExcessIncentives
      ,MarkEffectPlusExcessInc
      ,GrossParticipantCost
      ,GrossParticipantCostAdjusted
      ,NetParticipantCost
      ,NetParticipantCostAdjusted
      ,RebatesandIncentsPV
      ,GrossMeasCostPV
      ,ExcessIncentivesPV
      ,MarkEffectPlusExcessIncPV
      ,GrossParticipantCostPV
      ,GrossParticipantCostAdjustedPV
      ,NetParticipantCostPV
      ,NetParticipantCostAdjustedPV
      ,WtdAdminCostsOverheadAndGA
      ,WtdAdminCostsOther
      ,WtdMarketingOutreach
      ,WtdDIActivity
      ,WtdDIInstallation
      ,WtdDIHardwareAndMaterials
      ,WtdDIRebateAndInspection
      ,WtdEMV
      ,WtdUserInputIncentive
      ,WtdCostsRecoveredFromOtherSources
      ,ProgramCosts
      ,TotalExpenditures
      ,DiscountedSavingsGrosskWh
      ,DiscountedSavingsNetkWh
      ,DiscountedSavingsGrossThm
      ,DiscountedSavingsNetThm
      ,SCBLifecycleNetBen
      ,SCHLifecycleNetBen
      ,TRCLifecycleNetBen
      ,PACLifecycleNetBen
      ,LevBenElec_SB
      ,LevBenElec_SH
      ,LevBenElec
      ,LevBenGas
      ,LevSCBCost
      ,LevSCBCostNoAdmin
      ,LevSCHCost
      ,LevSCHCostNoAdmin
      ,LevTRCCost
      ,LevTRCCostNoAdmin
      ,LevPACCost
      ,LevPACCostNoAdmin
      ,LevRIMCost
      ,LevNetBenSCBElec
      ,LevNetBenSCBElecNoAdmin
      ,LevNetBenSCHElec
      ,LevNetBenSCHElecNoAdmin
      ,LevNetBenTRCElec
      ,LevNetBenTRCElecNoAdmin
      ,LevNetBenPACElec
      ,LevNetBenPACElecNoAdmin
      ,LevNetBenTRCGas
      ,LevNetBenTRCGasNoAdmin
      ,LevNetBenPACGas
      ,LevNetBenPACGasNoAdmin
      ,LevNetBenRIMElec
      ,LevNetBenRIMGas
  FROM dbo.OutputCost'

EXEC  sp_executesql @SQL2








GO
