USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetJobProcessTime]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetJobProcessTime]
         @JobID int

AS

BEGIN

  DECLARE @retrunValue as nvarchar(15) 
    set  @retrunValue = '' 
    set  @retrunValue = CONVERT(nvarchar(15), DATEDIFF(second, (select top 1 modifiedDate from [CETDataLoadStatusHistory] where jobid = @JobID order by modifiedDate asc), 
                          (select top 1 modifiedDate from [CETDataLoadStatusHistory] where jobid = @JobID order by modifiedDate desc))) 

     select @retrunValue as ProcessTime
END

GO
