USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetJobsByUser]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetJobsByUser]
         @userID nvarchar(256)
AS
BEGIN
SELECT [ID]
      ,[WebUserId]
      ,[JobDescription]
	  ,[JobDescription] + ' (JobID: ' + CONVERT(nvarchar, ID) + ')' as JobDescription2
      ,[SourceType]
      ,[Server]
      ,[Database]
      ,[UserID]
      ,[Password]
      ,[InputProgramTable]
      ,[InputMeasureTable]
      ,[InputFilePathMeasure]
      ,[InputFilePathProgram]
      ,[MappingType]
      ,[Version]
      ,[Status]
      ,[SaveThisJob]
  FROM [dbo].[CETJobs]
  Where [WebUserId] = @userID
  order by [ID] desc

END
GO
