USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[RenameJob]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[RenameJob]
         @JobID int,
		 @NewName varchar(255)
AS

BEGIN

	UPDATE [CETJobs] SET JobDescription = @NewName WHERE ID = @JobID

END







GO
