USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[SaveInput]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[SaveInput]
@JobID INT = -1,
@MEBens FLOAT,
@MECost FLOAT,
@CETDataDbName VARCHAR(255)=''

AS

SET NOCOUNT ON

DECLARE @SQL1 nvarchar(max)
DECLARE @SQL2 nvarchar(max)

-- Clear SavedKeys table for Job
SET @SQL1 = 'DELETE FROM SavedInput WHERE JobID=' + Convert(nvarchar,@JobID)
EXEC  sp_executesql @SQL1

IF @MEBens Is Null
	BEGIN
		SET @MEBens = IsNull((SELECT MarketEffectBens from CETJobs WHERE ID = @JobID),0)
	END 
IF @MECost Is Null
	BEGIN
		SET @MECost = IsNull((SELECT MarketEffectCost from CETJobs WHERE ID = @JobID),0)
	END 
IF @CETDataDbName =''
	BEGIN
		SET @CETDataDbName = 'dbo.'
	END 
ELSE
	BEGIN
		SET @CETDataDbName = @CETDataDbName + '.dbo.'
	END 

--************** Start Input  ***************
SET @SQL2 = 
'INSERT INTO ' + @CETDataDbName + 'SavedInput
(
JobID
,[CET_ID]
,[PA]
,[PrgID]
,[ProgramName]
,[MeasureName]
,[MeasureID]
,[TS]
,[EU]
--,[EUAL]
,[CZ]
,[GS]
,[GP]
--,[GPAL]
,[CombType]
,[Qtr]
,[Qm]
,[Qty]
,[kW1]
,[kWh1]
,[Thm1]
,[kW2]
,[kWh2]
,[Thm2]
--,[kW1_AL]
--,[kWh1_AL]
--,[Thm1_AL]
--,[kW2_AL]
--,[kWh2_AL]
--,[Thm2_AL]
,[EUL]
,[RUL]
,[eulq]
,[eulq1]
,[eulq2]
,[rulq]
,[NTGRkW]
,[NTGRkWh]
,[NTGRThm]
,[NTGRCost]
,[IR]
,[IRkW]
,[IRkWh]
,[IRThm]
,[RR]
,[RRkWh]
,[RRkW]
,[RRThm]
,[IncentiveToOthers]
,[EndUserRebate]
,[DILaborCost]
,[DIMaterialCost]
,[UnitMeasureGrossCost]
,[UnitMeasureGrossCost_ER]
,[MeasIncrCost]
,[MeasInflation]
,[UnitGasInfraBens]
,[UnitRefrigCosts]
,[UnitRefrigBens]
,[UnitMiscCosts]
,[MiscCostsDesc]
,[UnitMiscBens]
,[MiscBensDesc]
,[Sector]
,[EndUse]
,[BuildingType]
,[MeasureGroup]
,[SolutionCode]
,[Technology]
,[Channel]
,[IsCustom]
,[Location]
,[ProgramType]
,[UnitType]
,[Comments]
,[DataField]

,WaterUse
,kWhWater1
,kWhWater2
,UnitTaxCredits
,ElecRateSchedule
,GasRateSchedule
,FuelID
,MeasImpactType
,ACVersion

)
SELECT ' + CONVERT(NVARCHAR,@JobID) + ' AS JobID
,[CET_ID]
,[PA]
,[PrgID]
,[ProgramName]
,[MeasureName]
,[MeasureID]
,[TS]
,[EU]
--,[EUAL]
,[CZ]
,[GS]
,[GP]
--,[GPAL]
,[CombType]
,[Qtr]
,[Qm]
,[Qty]
,[kW1]
,[kWh1]
,[Thm1]
,[kW2]
,[kWh2]
,[Thm2]
--,[kW1_AL]
--,[kWh1_AL]
--,[Thm1_AL]
--,[kW2_AL]
--,[kWh2_AL]
--,[Thm2_AL]
,[EUL]
,[RUL]
,[eulq]
,[eulq1]
,[eulq2]
,[rulq]
,[NTGRkW]
,[NTGRkWh]
,[NTGRThm]
,[NTGRCost]
,[IR]
,[IRkW]
,[IRkWh]
,[IRThm]
,[RR]
,[RRkWh]
,[RRkW]
,[RRThm]
,[IncentiveToOthers]
,[EndUserRebate]
,[DILaborCost]
,[DIMaterialCost]
,[UnitMeasureGrossCost]
,[UnitMeasureGrossCost_ER]
,[MeasIncrCost]
,[MeasInflation]
,[UnitGasInfraBens]
,[UnitRefrigCosts]
,[UnitRefrigBens]
,[UnitMiscCosts]
,[MiscCostsDesc]
,[UnitMiscBens]
,[MiscBensDesc]
,[Sector]
,[EndUse]
,[BuildingType]
,[MeasureGroup]
,[SolutionCode]
,[Technology]
,[Channel]
,[IsCustom]
,[Location]
,[ProgramType]
,[UnitType]
,[Comments]
,[DataField]

--,Qy -- leaving this out to avoid confusion since there are multiple Qy in the CET
,WaterUse
,kWhWater1
,kWhWater2
,UnitTaxCredits
,ElecRateSchedule
,GasRateSchedule
,FuelType
,MeasImpactType
,AVCVersion

FROM [dbo].[InputMeasurevw]'

EXEC  sp_executesql @SQL2


GO
