USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[InitializeSourceTables]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InitializeSourceTables]
@jobId INT,
@SourceType NVARCHAR(25),
@SourceDatabase NVARCHAR(255),
@MeasureTable NVARCHAR(255),
@ProgramTable NVARCHAR(255),
@FirstYear INT=2013,
@AVCVersion NVARCHAR(255),
@IncludeNonresourceCosts BIT = 0

AS

SET NOCOUNT ON

DECLARE @SourceMeasurevwSql NVARCHAR(MAX);
DECLARE @SourceProgramvwSql NVARCHAR(MAX);
DECLARE @SettingsvwSql NVARCHAR(MAX);

---------Start Mapping Source Data  --------
BEGIN

PRINT 'Source Type = ' + @SourceType

SET @SourceMeasurevwSql = 'ALTER VIEW [dbo].[SourceMeasurevw] AS 

SELECT * FROM ' + @SourceDatabase + '.dbo.' +  @MeasureTable

SET @SourceProgramvwSql = 'ALTER VIEW [dbo].[SourceProgramvw] AS 

SELECT * FROM ' + @SourceDatabase + '.dbo.' + @ProgramTable


SET @SettingsvwSql = 'ALTER VIEW [dbo].[Settingsvw] AS

SELECT
[Version]
,PA
,DiscountRateAnnual AS Ra
,DiscountRateAnnual + 1 AS Raf
,DiscountRateQtr AS Rq
,DiscountRateQtr + 1 AS Rqf
,SocietalDiscountRateAnnual AS Ra_SCT
,SocietalDiscountRateAnnual + 1 AS Raf_SCT
,SocietalDiscountRateQtr AS Rq_SCT
,SocietalDiscountRateQtr + 1 AS Rqf_SCT
,BaseYear
,CO2Gas
,NOxGas
FROM dbo.E3Settings WHERE [Version] = ''' + @AVCVersion + ''''

BEGIN TRY
    EXEC  sp_executesql @SourceMeasurevwSql
	EXEC  sp_executesql @SourceProgramvwSql
	EXEC  sp_executesql @SettingsvwSql
END TRY

BEGIN CATCH
    DECLARE @ErrorMessage NVARCHAR(2000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
	DECLARE @ErrorProcedure NVARCHAR(2000);
	DECLARE @ErrorText NVARCHAR(4000);

    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE(),
		@ErrorProcedure = ERROR_PROCEDURE(),
		@ErrorText = @ErrorProcedure + ': ' + @ErrorMessage;
		UPDATE [dbo].[CETJobs]
	SET [StatusDetail] =  @ErrorProcedure + ': ' + @ErrorMessage
	WHERE [ID] = @jobId
    
    RAISERROR (@ErrorText, 
               @ErrorSeverity,
               @ErrorState
               );    
END CATCH

END


GO
