USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetCETVersionDBName]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetCETVersionDBName]
@Version varchar(255),
@CETDataDbName nvarchar(255) OUTPUT

AS

select @CETDataDbName = DBName from CETVersion v   where v.YearDescription =  @Version


GO
