USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[CalcCE]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[CalcCE]
    @JobID INT = -1,
    @MEBens FLOAT = NULL,
    @MECost FLOAT = NULL,
    @FirstYear INT = 2013,
    @AVCVersion VARCHAR(255)
AS

SET NOCOUNT ON

PRINT 'Inserting electrical and gas benefits... Message 1'

IF @MEBens Is Null
    BEGIN
        SET @MEBens = ISNULL((SELECT MarketEffectBens from CETJobs WHERE ID = @JobID),0)
    END 
IF @MECost Is Null
    BEGIN
        SET @MECost = ISNULL((SELECT MarketEffectCost from CETJobs WHERE ID = @JobID),0)
    END 

PRINT 'Inserting electrical and gas benefits... Message 2'
CREATE TABLE [#FuelTypesForFuelSubstitution](
    FuelType NVARCHAR(50) NULL
)
CREATE TABLE [#OutputCE](
    JobID INT NULL,
    PA NVARCHAR(24) NULL,
    PrgID NVARCHAR(255) NULL,
    CET_ID NVARCHAR(255) NULL,
    ElecBen FLOAT NULL,
    ElecBen_SB FLOAT NULL,
    ElecBen_SH FLOAT NULL,
    GasBen FLOAT NULL,
    GasBen_SB FLOAT NULL,
    GasBen_SH FLOAT NULL,
    TaxCredits FLOAT NULL,
    WaterEnergyBen FLOAT NULL,
    WaterEnergyBen_SB FLOAT NULL,
    WaterEnergyBen_SH FLOAT NULL,
    OtherBen FLOAT NULL,
    ElecBenGross FLOAT NULL,
    ElecBenGross_SB FLOAT NULL,
    ElecBenGross_SH FLOAT NULL,
    GasBenGross FLOAT NULL,
    GasBenGross_SB FLOAT NULL,
    GasBenGross_SH FLOAT NULL,
    TaxCreditsGross FLOAT NULL,
    WaterEnergyBenGross FLOAT NULL,
    WaterEnergyBenGross_SB FLOAT NULL,
    WaterEnergyBenGross_SH FLOAT NULL,
    OtherBenGross FLOAT NULL,
    ElecSupplyCost FLOAT NULL,
    ElecSupplyCost_SB FLOAT NULL,
    ElecSupplyCost_SH FLOAT NULL,
    GasSupplyCost FLOAT NULL,
    GasSupplyCost_SB FLOAT NULL,
    GasSupplyCost_SH FLOAT NULL,
    WaterEnergyCost FLOAT NULL,
    WaterEnergyCost_SB FLOAT NULL,
    WaterEnergyCost_SH FLOAT NULL,
    OtherCost FLOAT NULL,
    ElecSupplyCostGross FLOAT NULL,
    ElecSupplyCostGross_SB FLOAT NULL,
    ElecSupplyCostGross_SH FLOAT NULL,
    GasSupplyCostGross FLOAT NULL,
    GasSupplyCostGross_SB FLOAT NULL,
    GasSupplyCostGross_SH FLOAT NULL,
    WaterEnergyCostGross FLOAT NULL,
    WaterEnergyCostGross_SB FLOAT NULL,
    WaterEnergyCostGross_SH FLOAT NULL,
    OtherCostGross FLOAT NULL,
    BillReducElec FLOAT NULL,
    BillIncrElec FLOAT NULL,
    BillReducGas FLOAT NULL,
    BillIncrGas FLOAT NULL,
    TotalSystemBenefit FLOAT NULL,
    TotalSystemBenefitGross FLOAT NULL,
    SCBCost FLOAT NULL,
    SCHCost FLOAT NULL,
    TRCCost FLOAT NULL,
    PACCost FLOAT NULL,
    RIMCost FLOAT NULL,
    SCBCostGross FLOAT NULL,
    SCBCostNoAdmin FLOAT NULL,
    SCHCostGross FLOAT NULL,
    SCHCostNoAdmin FLOAT NULL,
    TRCCostGross FLOAT NULL,
    TRCCostNoAdmin FLOAT NULL,
    PACCostNoAdmin FLOAT NULL,
    RIMCostNoAdmin FLOAT NULL,
    SCBRatio FLOAT NULL,
    SCHRatio FLOAT NULL,
    TRCRatio FLOAT NULL,
    PACRatio FLOAT NULL,
    RIMRatio FLOAT NULL,
    SCBRatioNoAdmin FLOAT NULL,
    SCHRatioNoAdmin FLOAT NULL,
    TRCRatioNoAdmin FLOAT NULL,
    PACRatioNoAdmin FLOAT NULL,
    RIMRatioNoAdmin FLOAT NULL,
    WeightedBenefits FLOAT NULL,
    WeightedElecAlloc FLOAT NULL,
    WeightedProgramCost FLOAT NULL
) ON [PRIMARY]

BEGIN
    INSERT INTO #FuelTypesForFuelSubstitution VALUES
        ('AllElec-New'),
        ('FuelSub-ToElec'),
        ('FuelSub-ToGas')
PRINT 'Inserting electrical and gas benefits... Message 3'
    -- Insert into CE with correction for Null gas and elec
    INSERT INTO #OutputCE (
        JobID
        ,PA
        ,PrgID
        ,CET_ID
        ,ElecBen
        ,ElecBen_SB
        ,ElecBen_SH
        ,GasBen
        ,GasBen_SB
        ,GasBen_SH
        ,TaxCredits
        ,WaterEnergyBen
        ,WaterEnergyBen_SB
        ,WaterEnergyBen_SH
        ,OtherBen
        ,ElecBenGross
        ,ElecBenGross_SB
        ,ElecBenGross_SH
        ,GasBenGross
        ,GasBenGross_SB
        ,GasBenGross_SH
        ,TaxCreditsGross
        ,WaterEnergyBenGross
        ,WaterEnergyBenGross_SB
        ,WaterEnergyBenGross_SH
        ,OtherBenGross
        ,ElecSupplyCost
        ,ElecSupplyCost_SB
        ,ElecSupplyCost_SH
        ,GasSupplyCost
        ,GasSupplyCost_SB
        ,GasSupplyCost_SH
        ,WaterEnergyCost
        ,WaterEnergyCost_SB
        ,WaterEnergyCost_SH
        ,OtherCost
        ,ElecSupplyCostGross
        ,ElecSupplyCostGross_SB
        ,ElecSupplyCostGross_SH
        ,GasSupplyCostGross
        ,GasSupplyCostGross_SB
        ,GasSupplyCostGross_SH
        ,WaterEnergyCostGross
        ,WaterEnergyCostGross_SB
        ,WaterEnergyCostGross_SH
        ,OtherCostGross
    )
    SELECT
        @JobID AS JobID
        ,e.PA AS PA
        ,e.PrgID AS PrgID
        ,e.CET_ID AS CET_ID
--- ElecBen (Net Lifecycle) ----------------------------------------------------
--- PVBenNet[E]: Present value net electricity benefits
        ,SUM(
            CASE
                WHEN ISNULL(ft.FuelType,0) = '0'
				    OR (e.kWh1 * ace_1.Gen + e.kWh2 * ISNULL(ace_2.Gen,0) >0)
                THEN
                    ISNULL(
                        e.Qty *
                        (
                            ( e.NTGRkWh + @MEBens ) *
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen +
                                e.kWh2 * ace_2.Gen
                            )
                            +
                            ( e.NTGRkW + @MEBens ) *
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD +
                                ISNULL( ace_2.DS, 0 ) * ISNULL( ace_2.TD, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecBen
--------------------------------------------------------------------------------
--- ElecBen_SB (Net Lifecycle, Societal Cost Base) -----------------------------
        ,SUM(
            CASE
                WHEN ISNULL(ft.FuelType,0) = '0'
                    OR (e.kWh1 * ace_1.Gen_SB + e.kWh2 * ISNULL(ace_2.Gen_SB,0) > 0)
                THEN
                    ISNULL(
                        e.Qty *
                        (
                            ( e.NTGRkWh + @MEBens ) *
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen_SB +
                                e.kWh2 * ace_2.Gen_SB
                            )
                            +
                            ( e.NTGRkW + @MEBens ) *
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD_SB +
                                ISNULL( ace_2.DS, 0 ) * ISNULL( ace_2.TD_SB, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecBen_SB
--------------------------------------------------------------------------------
--- ElecBen_SH (Net Lifecycle, Societal Cost High) -----------------------------
        ,SUM(
            CASE
                WHEN ISNULL(ft.FuelType,0) = '0'
                    OR (e.kWh1 * ace_1.Gen_SH + e.kWh2 * ISNULL(ace_2.Gen_SH,0) > 0)
                THEN
                    ISNULL(
                        e.Qty *
                        (
                            ( e.NTGRkWh + @MEBens ) *
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen_SH +
                                e.kWh2 * ace_2.Gen_SH
                            )
                            +
                            ( e.NTGRkW + @MEBens ) *
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD_SH +
                                ISNULL( ace_2.DS, 0 ) * ISNULL( ace_2.TD_SH, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecBen_SH
--------------------------------------------------------------------------------
--- GasBen (Net Lifecycle) -----------------------------------------------------
--- NetPVBenTOT[G]: Present value of net gas benefits
        ,SUM(
            CASE 
                WHEN ISNULL(ft.FuelType,0) = '0'
                    OR (e.Thm1 * acg_1.Gas + e.Thm2 * ISNULL(acg_2.Gas,0) > 0)
                THEN
                    ISNULL(
                        e.Qty *
                        ( e.NTGRThm + @MEBens ) *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas +
                            e.Thm2 * ISNULL( acg_2.Gas, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasBen
--------------------------------------------------------------------------------
--- GasBen_SB (Net Lifecycle) --------------------------------------------------
        ,SUM(
            CASE 
                WHEN ISNULL(ft.FuelType,0) = '0'
                    OR (e.Thm1 * acg_1.Gas_SB + e.Thm2 * ISNULL(acg_2.Gas_SB,0) > 0)
                THEN
                    ISNULL(
                        e.Qty *
                        ( e.NTGRThm + @MEBens ) *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas_SB +
                            e.Thm2 * ISNULL( acg_2.Gas_SB, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasBen_SB
--------------------------------------------------------------------------------
--- GasBen_SH (Net Lifecycle) --------------------------------------------------
        ,SUM(
            CASE 
                WHEN ISNULL(ft.FuelType,0) = '0'
                    OR (e.Thm1 * acg_1.Gas_SH + e.Thm2 * ISNULL(acg_2.Gas_SH,0) > 0)
                THEN
                    ISNULL(
                        e.Qty *
                        ( e.NTGRThm + @MEBens ) *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas_SH +
                            e.Thm2 * ISNULL( acg_2.Gas_SH, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasBen_SH
--------------------------------------------------------------------------------
--- TaxCredits (Net) -----------------------------------------------------------
        ,SUM(
            e.Qty * (NTGRkWh + @MEBens) * ISNULL( e.UnitTaxCredits, 0 )
        ) AS TaxCredits
--------------------------------------------------------------------------------
--- WaterEnergyBen (Net) -------------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1>0
                THEN
                    ISNULL(
                        e.Qty *
                        ( e.NTGRkWh + @MEBens ) *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen +
                            e.kWhWater2 * ace_2.Gen
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyBen
--------------------------------------------------------------------------------
--- WaterEnergyBen_SB (Net) ----------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1>0
                THEN
                    ISNULL(
                        e.Qty *
                        ( e.NTGRkWh + @MEBens ) *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen_SB +
                            e.kWhWater2 * ace_2.Gen_SB
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyBen_SB
--------------------------------------------------------------------------------
--- WaterEnergyBen_SH (Net) ----------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1>0
                THEN
                    ISNULL(
                        e.Qty *
                        ( e.NTGRkWh + @MEBens ) *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen_SH +
                            e.kWhWater2 * ace_2.Gen_SH
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyBen_SH
--------------------------------------------------------------------------------
--- OtherBen (Net) -------------------------------------------------------------
        ,SUM(
            e.Qty *
            (NTGRkWh + @MEBens) *
            (
                ISNULL( UnitGasInfraBens, 0 ) +
                ISNULL( UnitRefrigBens, 0 ) +
                ISNULL( UnitMiscBens, 0)
            )
        ) AS OtherBen
--------------------------------------------------------------------------------
--- ElecBenGross (Lifecycle) ---------------------------------------------------
--- PVBen[E]: Present value gross electricity benefits
        ,SUM(
            CASE
                WHEN ISNULL(ft.FuelType,0) = '0'
                    OR (e.kWh1 * ace_1.Gen + e.kWh2 * ISNULL(ace_2.Gen,0) > 0)
                THEN
                    ISNULL(
                        e.Qty *
                        (
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen +
                                e.kWh2 * ISNULL( ace_2.Gen, 0 )
                            )
                            +
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD
                                +
                                ISNULL( ace_2.DS, 0 ) * ISNULL( ace_2.TD, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecBenGross
--------------------------------------------------------------------------------
--- ElecBenGross_SB (Lifecycle, Societal Cost Base) ----------------------------
        ,SUM(
            CASE
                WHEN ISNULL(ft.FuelType,0) = '0'
                    OR (e.kWh1 * ace_1.Gen_SB + e.kWh2 * ISNULL(ace_2.Gen_SB,0) > 0)
                THEN
                    ISNULL(
                        e.Qty *
                        (
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen_SB +
                                e.kWh2 * ISNULL( ace_2.Gen_SB, 0 )
                            )
                            +
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD_SB
                                +
                                ISNULL( ace_2.DS, 0 ) * ISNULL( ace_2.TD_SB, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecBenGross_SB
--------------------------------------------------------------------------------
--- ElecBenGross_SH (Lifecycle, Societal Cost High) ----------------------------
        ,SUM(
            CASE
                WHEN ISNULL(ft.FuelType,0) = '0'
                    OR (e.kWh1 * ace_1.Gen_SH + e.kWh2 * ISNULL(ace_2.Gen_SH,0) > 0)
                THEN
                    ISNULL(
                        e.Qty *
                        (
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen_SH +
                                e.kWh2 * ISNULL( ace_2.Gen_SH, 0 )
                            )
                            +
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD_SH
                                +
                                ISNULL( ace_2.DS, 0 ) * ISNULL( ace_2.TD_SH, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecBenGross_SH
--------------------------------------------------------------------------------
--- GasBenGross (Lifecycle) ----------------------------------------------------
--- PVBen[G]: Present value gross gas benefits
        ,SUM(
            CASE
                WHEN ISNULL(ft.FuelType,0) = '0'
                    OR (e.Thm1 * acg_1.Gas + e.Thm2 * ISNULL(acg_2.Gas,0) > 0)
                THEN
                    ISNULL(
                        e.Qty *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas +
                            e.Thm2 * ISNULL( acg_2.Gas, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasBenGross
--------------------------------------------------------------------------------
--- GasBenGross_SB (Lifecycle) -------------------------------------------------
        ,SUM(
            CASE
                WHEN ISNULL(ft.FuelType,0) = '0'
                    OR (e.Thm1 * acg_1.Gas_SB + e.Thm2 * ISNULL(acg_2.Gas_SB,0) > 0)
                THEN
                    ISNULL(
                        e.Qty *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas_SB +
                            e.Thm2 * ISNULL( acg_2.Gas_SB, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasBenGross_SB
--------------------------------------------------------------------------------
--- GasBenGross_SH (Lifecycle) -------------------------------------------------
        ,SUM(
            CASE
                WHEN ISNULL(ft.FuelType,0) = '0'
                    OR (e.Thm1 * acg_1.Gas_SH + e.Thm2 * ISNULL(acg_2.Gas_SH,0) > 0)
                THEN
                    ISNULL(
                        e.Qty *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas_SH +
                            e.Thm2 * ISNULL( acg_2.Gas_SH, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasBenGross_SH
--------------------------------------------------------------------------------
--- Tax CreditsGross -----------------------------------------------------------
        ,SUM(
            e.Qty * ISNULL( e.UnitTaxCredits, 0 )
        ) AS TaxCreditsGross
--------------------------------------------------------------------------------
--- WaterEnergyBenGross --------------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1>0
                THEN
                    ISNULL(
                        e.Qty *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen +
                            e.kWhWater2 * ace_2.Gen
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyBenGross
--------------------------------------------------------------------------------
--- WaterEnergyBenGross_SB -----------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1>0
                THEN
                    ISNULL(
                        e.Qty *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen_SB +
                            e.kWhWater2 * ace_2.Gen_SB
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyBenGross_SB
--------------------------------------------------------------------------------
--- WaterEnergyBenGross_SH -----------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1>0
                THEN
                    ISNULL(
                        e.Qty *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen_SH +
                            e.kWhWater2 * ace_2.Gen_SH
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyBenGross_SH
--------------------------------------------------------------------------------
--- OtherBenGross -------------------------------------------------------------------
        ,SUM(
            e.Qty *
            (
                ISNULL( UnitGasInfraBens, 0 ) +
                ISNULL( UnitRefrigBens, 0 ) +
                ISNULL( UnitMiscBens, 0)
            )
        ) AS OtherBenGross
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--- ADDED THE FOLLOWING 8 FIELDS TO PROVIDE NEGATIVE BENEFITS TO TRC AND PAC ---
--- ElecSupplyCost (Net Lifecycle) ---------------------------------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.kWh1 * ace_1.Gen + e.kWh2 * ISNULL(ace_2.Gen,0)<0)
                THEN
                    ISNULL(
                        -e.Qty *
                        (
                            ( e.NTGRkWh + @MEBens ) *
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen +
                                e.kWh2 * ISNULL( ace_2.Gen, 0 )
                            )
                            +
                            ( e.NTGRkw + @MEBens ) *
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD +
                                ace_2.DS * ISNULL( ace_2.TD, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecSupplyCost
--------------------------------------------------------------------------------
--- ElecSupplyCost_SB (Net Lifecycle, Societal Cost Base) ----------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.kWh1 * ace_1.Gen_SB + e.kWh2 * ISNULL(ace_2.Gen_SB,0) < 0)
                THEN
                    ISNULL(
                        -e.Qty *
                        (
                            ( e.NTGRkWh + @MEBens ) *
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen_SB +
                                e.kWh2 * ISNULL( ace_2.Gen_SB, 0 )
                            )
                            +
                            ( e.NTGRkw + @MEBens ) *
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD_SB +
                                ace_2.DS * ISNULL( ace_2.TD_SB, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecSupplyCost_SB
--------------------------------------------------------------------------------
--- ElecSupplyCost_SH (Net Lifecycle, Societal Cost High) ----------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.kWh1 * ace_1.Gen_SH + e.kWh2 * ISNULL(ace_2.Gen_SH,0) < 0)
                THEN
                    ISNULL(
                        -e.Qty *
                        (
                            ( e.NTGRkWh + @MEBens ) *
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen_SH +
                                e.kWh2 * ISNULL( ace_2.Gen_SH, 0 )
                            )
                            +
                            ( e.NTGRkw + @MEBens ) *
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD_SH +
                                ace_2.DS * ISNULL( ace_2.TD_SH, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecSupplyCost_SH
--------------------------------------------------------------------------------
--- GasSupplyCost (Net Lifecycle) ----------------------------------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.Thm1 * acg_1.Gas + e.Thm2 * ISNULL(acg_2.Gas,0)) < 0
                THEN
                    ISNULL(
                        -e.Qty *
                        ( e.NTGRThm + @MEBens ) *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas +
                            e.Thm2 * ISNULL( acg_2.Gas, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasSupplyCost
--------------------------------------------------------------------------------
--- GasSupplyCost_SB (Net Lifecycle) -------------------------------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.Thm1 * acg_1.Gas_SB + e.Thm2 * ISNULL(acg_2.Gas_SB,0) < 0)
                THEN
                    ISNULL(
                        -e.Qty *
                        ( e.NTGRThm + @MEBens ) *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas_SB +
                            e.Thm2 * ISNULL( acg_2.Gas_SB, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasSupplyCost_SB
--------------------------------------------------------------------------------
--- GasSupplyCost_SH (Net Lifecycle) -------------------------------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.Thm1 * acg_1.Gas_SH + e.Thm2 * ISNULL(acg_2.Gas_SH,0) < 0)
                THEN
                    ISNULL(
                        -e.Qty *
                        ( e.NTGRThm + @MEBens ) *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas_SH +
                            e.Thm2 * ISNULL( acg_2.Gas_SH, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasSupplyCost_SH
--------------------------------------------------------------------------------
--- WaterEnergyCost ------------------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1<0
                THEN
                    ISNULL(
                        -e.Qty *
                        ( e.NTGRkWh + @MEBens ) *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen +
                            e.kWhWater2 * ace_2.Gen
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyCost
--------------------------------------------------------------------------------
--- WaterEnergyCost_SB ---------------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1<0
                THEN
                    ISNULL(
                        -e.Qty *
                        ( e.NTGRkWh + @MEBens ) *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen_SB +
                            e.kWhWater2 * ace_2.Gen_SB
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyCost_SB
--------------------------------------------------------------------------------
--- WaterEnergyCost_SH ---------------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1<0
                THEN
                    ISNULL(
                        -e.Qty *
                        ( e.NTGRkWh + @MEBens ) *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen_SH +
                            e.kWhWater2 * ace_2.Gen_SH
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyCost_SH
--------------------------------------------------------------------------------
--- OtherCost (Net) ------------------------------------------------------------
        ,SUM(
            e.Qty *
            (e.NTGRkWh + @MECost) *
            (
                ISNULL( e.UnitRefrigCosts, 0 ) +
                ISNULL( e.UnitMiscCosts, 0 )
            )
        ) AS OtherCost
--------------------------------------------------------------------------------
--- ElecSupplyCostGross (Lifecycle) --------------------------------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.kWh1 * ace_1.Gen + e.kWh2 * ISNULL(ace_2.Gen,0)) < 0
                THEN
                    ISNULL(
                        -e.Qty *
                        (
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen +
                                e.kWh2 * ISNULL( ace_2.Gen, 0 )
                            )
                            +
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD +
                                ace_2.DS * ISNULL( ace_2.TD, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecSupplyCostGross
--------------------------------------------------------------------------------
--- ElecSupplyCostGross_SB (Lifecycle, Societal Cost Base) ---------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.kWh1 * ace_1.Gen_SB + e.kWh2 * ISNULL(ace_2.Gen_SB,0) < 0)
                THEN
                    ISNULL(
                        -e.Qty *
                        (
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen_SB +
                                e.kWh2 * ISNULL( ace_2.Gen_SB, 0 )
                            )
                            +
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD_SB +
                                ace_2.DS * ISNULL( ace_2.TD_SB, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecSupplyCostGross_SB
--------------------------------------------------------------------------------
--- ElecSupplyCostGross_SH (Lifecycle, Societal Cost High) ---------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.kWh1 * ace_1.Gen_SH + e.kWh2 * ISNULL(ace_2.Gen_SH,0) < 0)
                THEN
                    ISNULL(
                        -e.Qty *
                        (
                            e.IRkWh *
                            e.RRkWh *
                            (
                                e.kWh1 * ace_1.Gen_SH +
                                e.kWh2 * ISNULL( ace_2.Gen_SH, 0 )
                            )
                            +
                            e.IRkW *
                            e.RRkW *
                            (
                                ace_1.DS * ace_1.TD_SH +
                                ace_2.DS * ISNULL( ace_2.TD_SH, 0 )
                            )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS ElecSupplyCostGross_SH
--------------------------------------------------------------------------------
--- GasSupplyCostGross (Lifecycle) ---------------------------------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.Thm1 * acg_1.Gas + e.Thm2 * ISNULL(acg_2.Gas,0) < 0)
                THEN
                    ISNULL(
                        -e.Qty *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas +
                            e.Thm2 * ISNULL( acg_2.Gas, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasSupplyCostGross
--------------------------------------------------------------------------------
--- GasSupplyCostGross_SB (Lifecycle) ------------------------------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.Thm1 * acg_1.Gas_SB + e.Thm2 * ISNULL(acg_2.Gas_SB,0) < 0)
                THEN
                    ISNULL(
                        -e.Qty *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas_SB +
                            e.Thm2 * ISNULL( acg_2.Gas_SB, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasSupplyCostGross_SB
--------------------------------------------------------------------------------
--- GasSupplyCostGross_SH (Lifecycle) ------------------------------------------
        ,SUM(
            CASE
                WHEN NOT ISNULL(ft.FuelType,0) = '0'
                    AND (e.Thm1 * acg_1.Gas_SH + e.Thm2 * ISNULL(acg_2.Gas_SH,0) < 0)
                THEN
                    ISNULL(
                        -e.Qty *
                        e.IRThm *
                        e.RRThm *
                        (
                            e.Thm1 * acg_1.Gas_SH +
                            e.Thm2 * ISNULL( acg_2.Gas_SH, 0 )
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS GasSupplyCostGross_SH
--------------------------------------------------------------------------------
--- WaterEnergyCostGross -------------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1<0
                THEN
                    ISNULL(
                        -e.Qty *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen +
                            e.kWhWater2 * ace_2.Gen
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyCostGross
--------------------------------------------------------------------------------
--- WaterEnergyCostGross_SB ----------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1<0
                THEN
                    ISNULL(
                        -e.Qty *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen_SB +
                            e.kWhWater2 * ace_2.Gen_SB
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyCostGross_SB
--------------------------------------------------------------------------------
--- WaterEnergyCostGross_SH ----------------------------------------------------
        ,SUM(
            CASE
                WHEN e.kWhWater1<0
                THEN
                    ISNULL(
                        -e.Qty *
                        e.IRkWh *
                        e.RRkWh *
                        (
                            e.kWhWater1 * ace_1.Gen_SH +
                            e.kWhWater2 * ace_2.Gen_SH
                        ),
                        0
                    )
                ELSE 0
            END
        ) AS WaterEnergyCostGross_SH
--------------------------------------------------------------------------------
--- OtherCostGross -------------------------------------------------------------
        ,SUM(
            e.Qty *
            (
                ISNULL( e.UnitRefrigCosts, 0 ) +
                ISNULL( e.UnitMiscCosts, 0 )
            )
        ) AS OtherCostGross
--------------------------------------------------------------------------------
    FROM InputMeasurevw AS e
	LEFT JOIN #FuelTypesForFuelSubstitution AS ft
    ON e.FuelType = ft.FuelType
    LEFT JOIN Settingsvw AS s
    ON e.PA = s.PA AND s.[Version] = @AVCVersion

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--- Avoided Electric Costs -----------------------------------------------------
--- First Baseline Avoided Electric Costs:
    LEFT JOIN (
        SELECT
            CET_ID
            ,SUM(Gen) AS Gen
            /*,SUM(Gen_AL) AS Gen_AL*/
            ,SUM(Gen_SB) AS Gen_SB
            ,SUM(Gen_SH) AS Gen_SH
            ,SUM(TD) AS TD
            /*,SUM(TD_AL) AS TD_AL*/
            ,SUM(TD_SB) AS TD_SB
            ,SUM(TD_SH) AS TD_SH
            ,DS
            /*,DS_AL*/
        FROM (
            --- Full Quarters, First Baseline ----------------------------------
            SELECT
                CET_ID
                ,ISNULL( Gen / POWER( Rqf, Qac ), 0 ) AS Gen
                /*,ISNULL( Gen_AL / POWER( Rqf, Qac ), 0 ) AS Gen_AL*/
                ,ISNULL( Gen_SB / POWER( Rqf_SCT, Qac), 0 ) AS Gen_SB
                ,ISNULL( Gen_SH / POWER( Rqf_SCT, Qac), 0 ) AS Gen_SH
                ,ISNULL( TD / POWER( Rqf, Qac ), 0 ) AS TD
                /*,ISNULL( TD_AL / POWER( Rqf, Qac ), 0 ) AS TD_AL*/
                ,ISNULL( TD_SB / POWER( Rqf_SCT, Qac), 0 ) AS TD_SB
                ,ISNULL( TD_SH / POWER( Rqf_SCT, Qac), 0 ) AS TD_SH
                ,ISNULL( DS1, 0 ) AS DS
                /*,ISNULL( DS1_AL, 0 ) AS DS_AL*/
            FROM AvoidedCostElecvw
            WHERE Qac BETWEEN Qm AND Qm + CONVERT( INT, eulq1 ) - 1

            --- Last Fractional Quarter, First Baseline ------------------------
            UNION SELECT
                CET_ID
                ,( eulq1 - FLOOR( eulq1 ) ) * (Gen / POWER( Rqf, Qac ) ) AS Gen
                /*,( eulq1 - FLOOR( eulq1 ) ) * (Gen_AL / POWER( Rqf, Qac ) ) AS Gen_AL*/
                ,( eulq1 - FLOOR( eulq1 ) ) * (Gen_SB / POWER( Rqf_SCT, Qac ) ) AS Gen_SB
                ,( eulq1 - FLOOR( eulq1 ) ) * (Gen_SH / POWER( Rqf_SCT, Qac ) ) AS Gen_SH
                ,( eulq1 - FLOOR( eulq1 ) ) * (TD / POWER( Rqf, Qac ) ) AS TD
                /*,( eulq1 - FLOOR( eulq1 ) ) * (TD_AL / POWER( Rqf, Qac ) ) AS TD_AL*/
                ,( eulq1 - FLOOR( eulq1 ) ) * (TD_SB / POWER( Rqf_SCT, Qac ) ) AS TD_SB
                ,( eulq1 - FLOOR( eulq1 ) ) * (TD_SH / POWER( Rqf_SCT, Qac ) ) AS TD_SH
                ,DS1 AS DS
                /*,DS1_AL AS DS_AL*/
            FROM AvoidedCostElecvw
            WHERE Qac = Qm + CONVERT( INT, eulq1 )
        )
        AS A GROUP BY CET_ID, DS/*, DS_AL*/
    ) AS ace_1 ON e.CET_ID=ace_1.CET_ID

--- Second Baseline Avoided Electric Costs:
    LEFT JOIN (
        SELECT
            CET_ID
            ,SUM(Gen) AS Gen
            /*,SUM(Gen_AL) AS Gen_AL*/
            ,SUM(Gen_SB) AS Gen_SB
            ,SUM(Gen_SH) AS Gen_SH
            ,SUM(TD) AS TD
            /*,SUM(TD_AL) AS TD_AL*/
            ,SUM(TD_SB) AS TD_SB
            ,SUM(TD_SH) AS TD_SH
            ,DS
            /*,DS_AL*/
        FROM (
            --- First Fractional Quarter, Second Baseline ----------------------
            SELECT
                CET_ID
                ,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( Gen / POWER( Rqf, Qac ) ) AS Gen
                /*,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( Gen_AL / POWER( Rqf, Qac ) ) AS Gen_AL*/
                ,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( Gen_SB / POWER( Rqf_SCT, Qac ) ) AS Gen_SB
                ,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( Gen_SH / POWER( Rqf_SCT, Qac ) ) AS Gen_SH
                ,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( TD / POWER( Rqf, Qac ) ) AS TD
                /*,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( TD_AL / POWER( Rqf, Qac ) ) AS TD_AL*/
                ,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( TD_SB / POWER( Rqf_SCT, Qac ) ) AS TD_SB
                ,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( TD_SH / POWER( Rqf_SCT, Qac ) ) AS TD_SH
                ,ISNULL( DS2, 0 ) AS DS
                /*,ISNULL( DS2_AL, 0 ) AS DS_AL*/
            FROM AvoidedCostElecvw
            WHERE Qac = Qm + CONVERT( INT, eulq1 )

            --- Full Quarters, Second Baseline ---------------------------------
            UNION SELECT
                CET_ID
                ,ISNULL( Gen / POWER( Rqf, Qac ), 0 ) AS Gen
                /*,ISNULL( Gen_AL / POWER( Rqf, Qac ), 0 ) AS Gen_AL*/
                ,ISNULL( Gen_SB / POWER( Rqf_SCT, Qac ), 0 ) AS Gen_SB
                ,ISNULL( Gen_SH / POWER( Rqf_SCT, Qac ), 0 ) AS Gen_SH
                ,ISNULL( TD / POWER( Rqf, Qac ), 0 ) AS TD
                /*,ISNULL( TD_AL / POWER( Rqf, Qac ), 0 ) AS TD_AL*/
                ,ISNULL( TD_SB / POWER( Rqf_SCT, Qac ), 0 ) AS TD_SB
                ,ISNULL( TD_SH / POWER( Rqf_SCT, Qac ), 0 ) AS TD_SH
                ,ISNULL( DS2, 0 ) AS DS
                /*,ISNULL( DS2_AL, 0 ) AS DS_AL*/
            FROM AvoidedCostElecvw
            WHERE Qac BETWEEN Qm + CONVERT( INT, eulq1 ) + 1 AND Qm + CONVERT( INT, eulq2 ) - 1

            --- Last Fractional Quarter, Second Baseline -----------------------
            UNION SELECT
                CET_ID
                ,( eulq2 - FLOOR( eulq2 ) ) * ( Gen / POWER( Rqf, Qac ) ) AS Gen
                /*,( eulq2 - FLOOR( eulq2 ) ) * ( Gen_AL / POWER( Rqf, Qac ) ) AS Gen_AL*/
                ,( eulq2 - FLOOR( eulq2 ) ) * ( Gen_SB / POWER( Rqf_SCT, Qac ) ) AS Gen_SB
                ,( eulq2 - FLOOR( eulq2 ) ) * ( Gen_SH / POWER( Rqf_SCT, Qac ) ) AS Gen_SH
                ,( eulq2 - FLOOR( eulq2 ) ) * ( TD / POWER( Rqf, Qac ) ) AS TD
                ,( eulq2 - FLOOR( eulq2 ) ) * ( TD_SB / POWER( Rqf_SCT, Qac ) ) AS TD_SB
                ,( eulq2 - FLOOR( eulq2 ) ) * ( TD_SH / POWER( Rqf_SCT, Qac ) ) AS TD_SH
                /*,( eulq2 - FLOOR( eulq2 ) ) * ( TD_AL / POWER( Rqf, Qac ) ) AS TD_AL*/
                ,ISNULL( DS2, 0 ) AS DS
                /*,ISNULL( DS2_AL, 0 ) AS DS_AL*/
            FROM AvoidedCostElecvw
            WHERE Qac = Qm + CONVERT( INT, eulq2 )
        ) AS A GROUP BY CET_ID, DS/*, DS_AL*/
    ) AS ace_2
    ON e.CET_ID = ace_2.CET_ID

--------------------------------------------------------------------------------
--- Avoided Gas Costs ----------------------------------------------------------
--- First Baseline Avoided Gas Costs:
    LEFT JOIN (
        SELECT
            CET_ID
            ,SUM(Gas) AS Gas
            ,SUM(Gas_SB) AS Gas_SB
            ,SUM(Gas_SH) AS Gas_SH
            /*,SUM(Gas_AL) AS Gas_AL*/
        FROM (
            --- Full Quarters, First Baseline ----------------------------------
            SELECT
                CET_ID
                ,ISNULL( Cost / POWER( Rqf, Qac ), 0 ) AS Gas
                ,ISNULL( Cost_SB / POWER( Rqf_SCT, Qac ), 0 ) AS Gas_SB
                ,ISNULL( Cost_SH / POWER( Rqf_SCT, Qac ), 0 ) AS Gas_SH
                /*,ISNULL( Cost_AL / POWER( Rqf, Qac ), 0 ) AS Gas_AL*/
            FROM AvoidedCostGasvw
            WHERE Qac BETWEEN Qm AND Qm + CONVERT( INT, eulq1 ) - 1

            --- Last Fractional Quarter, First Baseline ------------------------
            UNION SELECT
                CET_ID
                ,( eulq1 - FLOOR( eulq1 ) ) * ( Cost / POWER( Rqf, Qac ) ) AS Gas
                ,( eulq1 - FLOOR( eulq1 ) ) * ( Cost_SB / POWER( Rqf_SCT, Qac ) ) AS Gas_SB
                ,( eulq1 - FLOOR( eulq1 ) ) * ( Cost_SH / POWER( Rqf_SCT, Qac ) ) AS Gas_SH
                /*,( eulq1 - FLOOR( eulq1 ) ) * ( Cost_AL / POWER( Rqf, Qac ) ) AS Gas_AL*/
            FROM AvoidedCostGasvw
            WHERE Qac = Qm + CONVERT( INT, eulq1 )
        ) AS A GROUP BY CET_ID
    ) AS acg_1 ON e.CET_ID = acg_1.CET_ID

--- Second Baseline Avoided Gas Costs:
    LEFT JOIN (
        SELECT
            CET_ID
            ,SUM(Gas) AS Gas
            ,SUM(Gas_SB) AS Gas_SB
            ,SUM(Gas_SH) AS Gas_SH
            /*,SUM(Gas_AL) AS Gas_AL*/
        FROM (
            --- First Fractional Quarter, Second Baseline ----------------------
            SELECT
                CET_ID
                ,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( Cost / POWER( Rqf, Qac ) ) AS Gas
                ,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( Cost_SB / POWER( Rqf_SCT, Qac ) ) AS Gas_SB
                ,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( Cost_SH / POWER( Rqf_SCT, Qac ) ) AS Gas_SH
                /*,( 1 - ( eulq1 - FLOOR( eulq1 ) ) ) * ( Cost_AL / POWER( Rqf, Qac ) ) AS Gas_AL*/
            FROM AvoidedCostGasvw
            WHERE Qac = Qm + CONVERT( INT, eulq1 )

            --- Full Quarters, Second Baseline ---------------------------------
            UNION SELECT
                CET_ID
                ,ISNULL( Cost / POWER( Rqf, Qac ), 0 ) AS Gas
                ,ISNULL( Cost_SB / POWER( Rqf_SCT, Qac ), 0 ) AS Gas_SB
                ,ISNULL( Cost_SH / POWER( Rqf_SCT, Qac ), 0 ) AS Gas_SH
                /*,ISNULL( Cost_AL / POWER( Rqf, Qac ), 0 ) AS Gas_AL*/
            FROM AvoidedCostGasvw
            WHERE Qac BETWEEN Qm + CONVERT( INT, eulq1 ) + 1 AND Qm + CONVERT( INT, eulq2 ) - 1

            --- Last Fractional Quarter, Second Baseline -----------------------
            UNION SELECT
                CET_ID
                ,( eulq2 - FLOOR( eulq2 ) ) * ( Cost / POWER( Rqf, Qac ) ) AS Gas
                ,( eulq2 - FLOOR( eulq2 ) ) * ( Cost_SB / POWER( Rqf_SCT, Qac ) ) AS Gas_SB
                ,( eulq2 - FLOOR( eulq2 ) ) * ( Cost_SH / POWER( Rqf_SCT, Qac ) ) AS Gas_SH
                /*,( eulq2 - FLOOR( eulq2 ) ) * ( Cost_AL / POWER( Rqf, Qac ) ) AS Gas_AL*/
            FROM AvoidedCostGasvw
            WHERE Qac = Qm + CONVERT( INT, eulq2 )
        ) AS A GROUP BY CET_ID
    ) AS acg_2 ON e.CET_ID = acg_2.CET_ID
    WHERE s.Version = @AVCVersion
    GROUP BY
        e.PA
        ,e.PrgID
        ,e.CET_ID
    ORDER BY
        e.PA
        ,e.PrgID
        ,e.CET_ID

END
PRINT 'Inserting electrical and gas benefits... Message 4'

BEGIN
    -- correct for null elec and gas benefits and EDFilledUnitGrMeaCost
    UPDATE #OutputCE SET
        ElecBen = ISNULL( ElecBen, 0 ),
        ElecBen_SB = ISNULL( ElecBen_SB, 0 ),
        ElecBen_SH = ISNULL( ElecBen_SH, 0 ),
        GasBen = ISNULL( GasBen, 0 ),
        GasBen_SB = ISNULL( GasBen_SB, 0 ),
        GasBen_SH = ISNULL( GasBen_SH, 0 ),
        TaxCredits = ISNULL( TaxCredits, 0 ),
        WaterEnergyBen = ISNULL( WaterEnergyBen, 0 ),
        WaterEnergyBen_SB = ISNULL( WaterEnergyBen_SB, 0 ),
        WaterEnergyBen_SH = ISNULL( WaterEnergyBen_SH, 0 ),
        OtherBen = ISNULL( OtherBen, 0 ),
        ElecBenGross = ISNULL( ElecBenGross, 0 ),
        ElecBenGross_SB = ISNULL( ElecBenGross_SB, 0 ),
        ElecBenGross_SH = ISNULL( ElecBenGross_SH, 0 ),
        GasBenGross = ISNULL( GasBenGross, 0 ),
        GasBenGross_SB = ISNULL( GasBenGross_SB, 0 ),
        GasBenGross_SH = ISNULL( GasBenGross_SH, 0 ),
        TaxCreditsGross = ISNULL( TaxCreditsGross, 0 ),
        WaterEnergyBenGross = ISNULL( WaterEnergyBenGross, 0 ),
        WaterEnergyBenGross_SB = ISNULL( WaterEnergyBenGross_SB, 0 ),
        WaterEnergyBenGross_SH = ISNULL( WaterEnergyBenGross_SH, 0 ),
        OtherBenGross = ISNULL( OtherBenGross, 0 ),
        ElecSupplyCost = ISNULL( ElecSupplyCost, 0 ),
        ElecSupplyCost_SB = ISNULL( ElecSupplyCost_SB, 0 ),
        ElecSupplyCost_SH = ISNULL( ElecSupplyCost_SH, 0 ),
        GasSupplyCost = ISNULL( GasSupplyCost, 0 ),
        GasSupplyCost_SB = ISNULL( GasSupplyCost_SB, 0 ),
        GasSupplyCost_SH = ISNULL( GasSupplyCost_SH, 0 ),
        WaterEnergyCost = ISNULL( WaterEnergyCost, 0 ),
        WaterEnergyCost_SB = ISNULL( WaterEnergyCost_SB, 0 ),
        WaterEnergyCost_SH = ISNULL( WaterEnergyCost_SH, 0 ),
        OtherCost = ISNULL( OtherCost, 0 ),
        ElecSupplyCostGross = ISNULL( ElecSupplyCostGross, 0 ),
        ElecSupplyCostGross_SB = ISNULL( ElecSupplyCostGross_SB, 0 ),
        ElecSupplyCostGross_SH = ISNULL( ElecSupplyCostGross_SH, 0 ),
        GasSupplyCostGross = ISNULL( GasSupplyCost, 0 ),
        GasSupplyCostGross_SB = ISNULL( GasSupplyCost_SB, 0 ),
        GasSupplyCostGross_SH = ISNULL( GasSupplyCost_SH, 0 ),
        WaterEnergyCostGross = ISNULL( WaterEnergyCostGross, 0 ),
        WaterEnergyCostGross_SB = ISNULL( WaterEnergyCostGross_SB, 0 ),
        WaterEnergyCostGross_SH = ISNULL( WaterEnergyCostGross_SH, 0 ),
        OtherCostGross = ISNULL( OtherCostGross, 0 )
END

PRINT 'Updating SC, TRC, and PAC costs...'
PRINT 'Inserting electrical and gas benefits... Message 5'

BEGIN
-- Update OutputCE table with Costs
WITH
ProgramCosts (
    PrgID
    , SumCosts
    , SumCostsNPV
	, SumCostsNPV_SCT
) AS (
    SELECT
        c.PrgID
        ,SUM(
            ISNULL( [AdminCostsOverheadAndGA], 0 ) 
            + ISNULL( [AdminCostsOther], 0 ) 
            + ISNULL( [MarketingOutreach], 0 ) 
            + ISNULL( [DIActivity], 0 ) 
            + ISNULL( [DIInstallation], 0 ) 
            + ISNULL( [DIHardwareAndMaterials], 0 ) 
            + ISNULL( [DIRebateAndInspection], 0 ) 
            + ISNULL( [EMV], 0 ) 
            + ISNULL( [UserInputIncentive], 0 ) 
            + ISNULL( [CostsRecoveredFromOtherSources], 0 )
        ) AS SumCosts
        ,SUM(
            ISNULL( [AdminCostsOverheadAndGA], 0 ) 
            + ISNULL( [AdminCostsOther], 0 ) 
            + ISNULL( [MarketingOutreach], 0 ) 
            + ISNULL( [DIActivity], 0 )
            + ISNULL( [DIInstallation], 0 ) 
            + ISNULL( [DIHardwareAndMaterials], 0 ) 
            + ISNULL( [DIRebateAndInspection], 0 ) 
            + ISNULL( [EMV], 0 ) 
            + ISNULL( [UserInputIncentive], 0 ) 
            + ISNULL( [CostsRecoveredFromOtherSources], 0 )
        ) /
        POWER( s.Raf, Convert( int, [Year]-@FirstYear )
        ) AS SumCostsNPV
        ,SUM(
            ISNULL( [AdminCostsOverheadAndGA], 0 ) 
            + ISNULL( [AdminCostsOther], 0 ) 
            + ISNULL( [MarketingOutreach], 0 ) 
            + ISNULL( [DIActivity], 0 )
            + ISNULL( [DIInstallation], 0 ) 
            + ISNULL( [DIHardwareAndMaterials], 0 ) 
            + ISNULL( [DIRebateAndInspection], 0 ) 
            + ISNULL( [EMV], 0 ) 
            + ISNULL( [UserInputIncentive], 0 ) 
            + ISNULL( [CostsRecoveredFromOtherSources], 0 )
        ) /
        POWER( s.Raf_SCT, Convert( int, [Year]-@FirstYear )
        ) AS SumCostsNPV_SCT
    FROM dbo.[InputProgramvw] AS  c
    LEFT JOIN Settingsvw AS s
    ON c.PA = s.PA
    WHERE s.[Version] = @AVCVersion
    GROUP BY c.PrgID, [Year], s.Raf, s.Raf_SCT
)
, ProgramCostsSum (
    PrgID,
    SumCosts,
    SumCostsNPV,
    SumCostsNPV_SCT
) AS (
    SELECT PrgID,
    SUM(ISNULL(SumCosts,0)) AS SumCosts,
    SUM(ISNULL(SumCostsNPV,0)) AS SumCostsNPV,
    SUM(ISNULL(SumCostsNPV_SCT,0)) AS SumCostsNPV_SCT
    FROM ProgramCosts
    GROUP BY PrgID
)
, RebatesAndIncentives (
    PrgID,
    CET_ID,
    ExcessIncPV,
    RebatesPV,
    IncentsAndDIPV,
    GrossMeasCostPV,
    MeasureIncCost,
    RebatesPV_SCT,
    IncentsAndDIPV_SCT,
    GrossMeasCostPV_SCT
) AS (
    SELECT
        PrgID,
        e.CET_ID,
        SUM(
            (
                Qty *
                CASE
                    WHEN NOT ISNULL(ft.FuelType,0) = '0' OR e.Channel = 'C&S' OR (e.IncentiveToOthers + e.DILaborCost + e.DIMaterialCost - e.UnitMeasureGrossCost > 0)
                    THEN e.IncentiveToOthers + e.DILaborCost + e.DIMaterialCost - e.UnitMeasureGrossCost 
                    ELSE 0
                END
            ) / POWER(s.Rqf, Qm)
        ) AS ExcessIncPV,
        SUM(
            Qty * e.EndUserRebate / POWER(s.Rqf, Qm)
        ) AS RebatesPV,
        SUM(
            Qty * (e.IncentiveToOthers + e.DILaborCost + e.DIMaterialCost) / POWER(s.Rqf, Qm)
        ) AS IncentsAndDIPV,
        SUM(
            Qty *
            (
                e.UnitMeasureGrossCost -
                CASE
                    WHEN e.rul > 0
                    THEN (e.UnitMeasureGrossCost - e.MeasIncrCost ) * POWER( ( 1 + e.MeasInflation / 4 ) / s.Rqf, e.rulq )
                    ELSE 0
                END
            ) / POWER(s.Rqf, Qm)
        ) AS GrossMeasCostPV
        ,SUM(Qty * e.MeasIncrCost)  AS MeasureIncCost
        ,SUM(
            Qty * e.EndUserRebate / POWER(s.Rqf_SCT, Qm)
        ) AS RebatesPV_SCT,
        SUM(
            Qty * (e.IncentiveToOthers + e.DILaborCost + e.DIMaterialCost) / POWER(s.Rqf_SCT, Qm)
        ) AS IncentsAndDIPV_SCT,
        SUM(
            Qty *
            (
                e.UnitMeasureGrossCost -
                CASE
                    WHEN e.rul > 0
                    THEN (e.UnitMeasureGrossCost - e.MeasIncrCost ) * POWER( ( 1 + e.MeasInflation / 4 ) / s.Rqf_SCT, e.rulq )
                    ELSE 0
                END
            ) / POWER(s.Rqf_SCT, Qm)
        ) AS GrossMeasCostPV_SCT
    FROM InputMeasurevw e
    LEFT JOIN Settingsvw s ON e.PA = s.PA
    LEFT JOIN #FuelTypesForFuelSubstitution AS ft ON e.FuelType = ft.FuelType
    WHERE s.[Version] = @AVCVersion
    GROUP BY PrgID, e.CET_ID
    )
, BenefitsSum (
    PrgID
    ,SumElecBen
    ,SumElecBen_SB
    ,SumElecBen_SH
    ,SumGasBen
    ,SumGasBen_SB
    ,SumGasBen_SH
    ,SumOtherBen
    ,SumTaxCredits
    ,SumTaxCreditsGross
    ,SumElecBenGross
    ,SumElecBenGross_SB
    ,SumElecBenGross_SH
    ,SumGasBenGross
    ,SumGasBenGross_SB
    ,SumGasBenGross_SH
    ,SumOtherBenGross
    ,SumWaterEnergyBen
    ,SumWaterEnergyBen_SB
    ,SumWaterEnergyBen_SH
    ,SumWaterEnergyBenGross
    ,SumWaterEnergyBenGross_SB
    ,SumWaterEnergyBenGross_SH
)
AS (
    SELECT
        PrgID
        ,SUM( CASE WHEN ISNULL(ElecBen,0) > 0 THEN ElecBen ELSE 0 END ) AS SumElecBen
        ,SUM( CASE WHEN ISNULL(ElecBen_SB,0) > 0 THEN ElecBen_SB ELSE 0 END ) AS SumElecBen_SB
        ,SUM( CASE WHEN ISNULL(ElecBen_SH,0) > 0 THEN ElecBen_SH ELSE 0 END ) AS SumElecBen_SH
        ,SUM( CASE WHEN ISNULL(GasBen,0) > 0 THEN GasBen ELSE 0 END ) AS SumGasBen
        ,SUM( CASE WHEN ISNULL(GasBen_SB,0) > 0 THEN GasBen_SB ELSE 0 END ) AS SumGasBen_SB
        ,SUM( CASE WHEN ISNULL(GasBen_SH,0) > 0 THEN GasBen_SH ELSE 0 END ) AS SumGasBen_SH
        ,SUM( CASE WHEN ISNULL(OtherBen,0) > 0 THEN OtherBen ELSE 0 END ) AS SumOtherBen
        ,SUM( CASE WHEN ISNULL(ElecBenGross,0) > 0 THEN ElecBenGross ELSE 0 END ) AS SumElecBenGross
        ,SUM( CASE WHEN ISNULL(TaxCredits,0) > 0 THEN TaxCredits ELSE 0 END ) AS SumTaxCredits
        ,SUM( CASE WHEN ISNULL(TaxCreditsGross,0) > 0 THEN TaxCreditsGross ELSE 0 END ) AS SumTaxCreditsGross
        ,SUM( CASE WHEN ISNULL(ElecBenGross_SB,0) > 0 THEN ElecBenGross_SB ELSE 0 END ) AS SumElecBenGross_SB
        ,SUM( CASE WHEN ISNULL(ElecBenGross_SH,0) > 0 THEN ElecBenGross_SH ELSE 0 END ) AS SumElecBenGross_SH
        ,SUM( CASE WHEN ISNULL(GasBenGross,0) > 0 THEN GasBenGross ELSE 0 END ) AS SumGasBenGross
        ,SUM( CASE WHEN ISNULL(GasBenGross_SB,0) > 0 THEN GasBenGross_SB ELSE 0 END ) AS SumGasBenGross_SB
        ,SUM( CASE WHEN ISNULL(GasBenGross_SH,0) > 0 THEN GasBenGross_SH ELSE 0 END ) AS SumGasBenGross_SH
        ,SUM( CASE WHEN ISNULL(OtherBenGross,0) > 0 THEN OtherBenGross ELSE 0 END ) AS SumOtherBenGross
        ,SUM( CASE WHEN ISNULL(WaterEnergyBen,0) > 0 THEN WaterEnergyBen ELSE 0 END ) AS SumWaterEnergyBen
        ,SUM( CASE WHEN ISNULL(WaterEnergyBen_SB,0) > 0 THEN WaterEnergyBen_SB ELSE 0 END ) AS SumWaterEnergyBen_SB
        ,SUM( CASE WHEN ISNULL(WaterEnergyBen_SH,0) > 0 THEN WaterEnergyBen_SH ELSE 0 END ) AS SumWaterEnergyBen_SH
        ,SUM( CASE WHEN ISNULL(WaterEnergyBenGross,0) > 0 THEN WaterEnergyBenGross ELSE 0 END ) AS SumWaterEnergyBenGross
        ,SUM( CASE WHEN ISNULL(WaterEnergyBenGross_SB,0) > 0 THEN WaterEnergyBenGross_SB ELSE 0 END ) AS SumWaterEnergyBenGross_SB
        ,SUM( CASE WHEN ISNULL(WaterEnergyBenGross_SH,0) > 0 THEN WaterEnergyBenGross_SH ELSE 0 END ) AS SumWaterEnergyBenGross_SH
    FROM #OutputCE
    GROUP BY PrgID
)
, BenPos (
    CET_ID
    ,ElecBenPos
    ,ElecBenPos_SB
    ,ElecBenPos_SH
    ,GasBenPos
    ,GasBenPos_SB
    ,GasBenPos_SH
    ,WaterEnergyBenPos
    ,WaterEnergyBenPos_SB
    ,WaterEnergyBenPos_SH
    ,OtherBenPos
    ,SumBenPos
    ,SumBenPos_SB
    ,SumBenPos_SH
)
AS
(
    SELECT
        CET_ID
        ,CASE WHEN ISNULL(ElecBen,0) > 0 THEN ElecBen ELSE 0 END AS ElecBenPos
        ,CASE WHEN ISNULL(ElecBen_SB,0) > 0 THEN ElecBen_SB ELSE 0 END AS ElecBenPos_SB
        ,CASE WHEN ISNULL(ElecBen_SB,0) > 0 THEN ElecBen_SH ELSE 0 END AS ElecBenPos_SH
        ,CASE WHEN ISNULL(GasBen,0) > 0 THEN GasBen ELSE 0 END AS GasBenPos
        ,CASE WHEN ISNULL(GasBen_SB,0) > 0 THEN GasBen_SB ELSE 0 END AS GasBenPos_SB
        ,CASE WHEN ISNULL(GasBen_SH,0) > 0 THEN GasBen_SH ELSE 0 END AS GasBenPos_SH
        ,CASE WHEN ISNULL(WaterEnergyBen,0) > 0 THEN WaterEnergyBen ELSE 0 END AS WaterEnergyBenPos
        ,CASE WHEN ISNULL(WaterEnergyBen_SB,0) > 0 THEN WaterEnergyBen_SB ELSE 0 END AS WaterEnergyBenPos_SB
        ,CASE WHEN ISNULL(WaterEnergyBen_SH,0) > 0 THEN WaterEnergyBen_SH ELSE 0 END AS WaterEnergyBenPos_SH
        ,CASE WHEN ISNULL(OtherBen,0) > 0 THEN OtherBen ELSE 0 END AS OtherBenPos
        ,CASE WHEN ISNULL(ElecBen,0) > 0 THEN ElecBen ELSE 0 END +
          CASE WHEN ISNULL(GasBen,0) > 0 THEN GasBen ELSE 0 END +
          CASE WHEN ISNULL(WaterEnergyBen,0) > 0 THEN WaterEnergyBen ELSE 0 END +
          CASE WHEN ISNULL(OtherBen,0) > 0 THEN OtherBen ELSE 0 END
          AS SumBenPos
        ,CASE WHEN ISNULL(ElecBen_SB,0) > 0 THEN ElecBen_SB ELSE 0 END +
          CASE WHEN ISNULL(GasBen,0) > 0 THEN GasBen ELSE 0 END +
          CASE WHEN ISNULL(WaterEnergyBen,0) > 0 THEN WaterEnergyBen ELSE 0 END +
          CASE WHEN ISNULL(OtherBen,0) > 0 THEN OtherBen ELSE 0 END
          AS SumBenPos_SB
        ,CASE WHEN ISNULL(ElecBen_SH,0) > 0 THEN ElecBen_SH ELSE 0 END +
          CASE WHEN ISNULL(GasBen,0) > 0 THEN GasBen ELSE 0 END +
          CASE WHEN ISNULL(WaterEnergyBen,0) > 0 THEN WaterEnergyBen ELSE 0 END +
          CASE WHEN ISNULL(OtherBen,0) > 0 THEN OtherBen ELSE 0 END
          AS SumBenPos_SH
    FROM #OutputCE ce 
)
, ClaimCount (
      PrgID
    , ClaimCount
)
AS (
    SELECT PrgID
        ,COUNT(CET_ID) As ClaimCount
    FROM #OutputCE
    GROUP BY PrgID
)
, ExcessIncentives (
    CET_ID
    , ExcessIncentivesPV
    , ExcessIncentivesPV_SCT
)
AS
(
    SELECT CE.CET_ID
        ,CASE
            WHEN ri.IncentsAndDIPV - ri.GrossMeasCostPV > 0
            THEN ri.IncentsAndDIPV - ri.GrossMeasCostPV
            ELSE 0
        END AS ExcessIncentivesPV
        ,CASE
            WHEN ri.IncentsAndDIPV_SCT - ri.GrossMeasCostPV_SCT > 0
            THEN ri.IncentsAndDIPV_SCT - ri.GrossMeasCostPV_SCT
            ELSE 0
        END AS ExcessIncentivesPV_SCT
    FROM #OutputCE  ce
    LEFT JOIN RebatesAndIncentives AS ri on CE.CET_ID = ri.CET_ID
    LEFT JOIN (SELECT CET_ID, MeasImpactType, Channel FROM InputMeasurevw) AS e ON CE.CET_ID = e.CET_ID
)
,GrossMeasureCostAdjusted (
    CET_ID
    ,GrossMeasureCostAdjustedPV
    ,GrossMeasureCostAdjustedPV_SCT
    ,MarkEffectPlusExcessIncPV
    ,MarkEffectPlusExcessIncPV_SCT
)
AS
(
    SELECT CE.CET_ID
        ,ri.GrossMeasCostPV -  (ri.IncentsAndDIPV + ri.RebatesPV) + (ex.ExcessIncentivesPV) AS GrossMeasureCostAdjustedPV
        ,ri.GrossMeasCostPV_SCT -  (ri.IncentsAndDIPV_SCT + ri.RebatesPV_SCT) + (ex.ExcessIncentivesPV_SCT) AS GrossMeasureCostAdjustedPV_SCT
        ,@MECost * ((ri.GrossMeasCostPV) + (ex.ExcessIncentivesPV)) AS MarkEffectPlusExcessIncPV
        ,@MECost * ((ri.GrossMeasCostPV_SCT) + (ex.ExcessIncentivesPV_SCT)) AS MarkEffectPlusExcessIncPV_SCT
    FROM #OutputCE  ce
    LEFT JOIN RebatesAndIncentives AS ri ON CE.CET_ID = ri.CET_ID
    LEFT JOIN InputMeasurevw AS e ON CE.CET_ID = e.CET_ID
    LEFT JOIN ExcessIncentives AS ex ON ce.CET_ID = ex.CET_ID
)
, ParticipantCost (
    CET_ID
    ,ExcessIncentives
    ,GrossMeasureCostAdjusted
    ,ParticipantCost
    ,ParticipantCostPV
    ,GrossParticipantCostPV
    ,GrossParticipantCostPV_SCT
    ,NetParticipantCostPV
    ,NetParticipantCostPV_SCT
)
AS
(
    SELECT CE.CET_ID
        ,ex.ExcessIncentivesPV AS ExcessIncentives
        ,ri.GrossMeasCostPV - (ri.IncentsAndDIPV + ri.RebatesPV) + (ex.ExcessIncentivesPV) AS GrossMeasureCostAdjusted
        ,e.NTGRCost * (gma.GrossMeasureCostAdjustedPV) + (@MECost * (ri.GrossMeasCostPV + ex.ExcessIncentivesPV)) AS ParticipantCost
        ,(e.NTGRCost * (gma.GrossMeasureCostAdjustedPV) + (@MECost * (ri.GrossMeasCostPV + ex.ExcessIncentivesPV))) / POWER(s.Rqf, Qm) AS ParticipantCostPV
        ,ri.GrossMeasCostPV - (ri.IncentsAndDIPV + ri.RebatesPV) + ex.ExcessIncentivesPV AS GrossParticipantCostPV
        ,ri.GrossMeasCostPV_SCT - (ri.IncentsAndDIPV_SCT + ri.RebatesPV_SCT) + ex.ExcessIncentivesPV_SCT AS GrossParticipantCostPV_SCT
        ,e.NTGRCost * (ri.GrossMeasCostPV - (ri.IncentsAndDIPV + ri.RebatesPV)+ ex.ExcessIncentivesPV) + MarkEffectPlusExcessIncPV AS NetParticipantCostPV
        ,e.NTGRCost * (ri.GrossMeasCostPV_SCT - (ri.IncentsAndDIPV_SCT + ri.RebatesPV_SCT)+ ex.ExcessIncentivesPV_SCT) + MarkEffectPlusExcessIncPV_SCT AS NetParticipantCostPV_SCT
    FROM #OutputCE AS ce
    LEFT JOIN RebatesAndIncentives ri on ce.CET_ID = ri.CET_ID
    LEFT JOIN ExcessIncentives ex on ri.CET_ID = ex.CET_ID
    LEFT JOIN InputMeasurevw e ON ce.CET_ID = e.CET_ID
    LEFT JOIN GrossMeasureCostAdjusted gma on ce.CET_ID = gma.CET_ID
    LEFT JOIN Settingsvw s ON e.PA = s.PA
    WHERE s.[Version] = @AVCVersion
)
, Calculations (
    CET_ID
    ,TotalSystemBenefit
    ,TotalSystemBenefitGross
    ,PAC_Cost
    ,PAC_Cost_NoAdmin
    ,TRC_Cost
    ,TRC_CostGross
    ,TRC_Cost_NoAdmin
    ,SCB_Cost
    ,SCB_CostGross
    ,SCB_Cost_NoAdmin
    ,SCH_Cost
    ,SCH_CostGross
    ,SCH_Cost_NoAdmin
    ,WeightedBenefits
    ,WeightedElecAlloc
    ,WeightedProgramCost
    ,ExcessIncentives
    ,GrossMeasureCostAdjusted
    ,ParticipantCost
    ,ParticipantCostPV
    ,GrossParticipantCostPV
    ,NetParticipantCostPV
)
AS
(
    SELECT
        CE.CET_ID
        ,(
            ElecBen +
            GasBen +
            WaterEnergyBen +
            OtherBen
        ) - (
            ElecSupplyCost +
            GasSupplyCost +
            WaterEnergyCost +
            OtherCost
        ) AS TotalSystemBenefit
        ,(
            ElecBenGross +
            GasBenGross +
            WaterEnergyBenGross +
            OtherBenGross
        ) - (
            ElecSupplyCostGross +
            GasSupplyCostGross +
            WaterEnergyCostGross +
            OtherCostGross
        ) AS TotalSystemBenefitGross
        ,(
            CASE
                WHEN (SumElecBen + SumGasBen + WaterEnergyBen + OtherBen <> 0)
                THEN
                    (
                        CASE
                            WHEN ISNULL(ElecBen,0) > 0
                            THEN ElecBen
                            ELSE 0
                        END +
                        CASE
                            WHEN ISNULL(GasBen,0) > 0
                            THEN GasBen
                            ELSE 0
                        END +
                        CASE
                            WHEN ISNULL(WaterEnergyBen,0) > 0
                            THEN WaterEnergyBen
                            ELSE 0
                        END +
                        CASE
                            WHEN ISNULL(OtherBen,0) > 0
                            THEN OtherBen
                            ELSE 0
                        END
                    ) / ( SumElecBen + SumGasBen + SumWaterEnergyBen + SumOtherBen )
                ELSE
                    -- If no benefits then divide program costs evenly among claims
                    1.000 / cc.ClaimCount
            END * 
            ISNULL(pcSum.SumCostsNPV,0) +
            Qty *
            (
                IncentiveToOthers +
                DILaborCost +
                DIMaterialCost +
                EndUserRebate
            ) / POWER(s.Rqf, Qm) +
            -- Increased supply costs, refrigerant costs, and miscellaneous costs
           CE.ElecSupplyCost +
           CE.GasSupplyCost +
           CE.WaterEnergyCost +
           CE.OtherCost
        ) AS PAC_Cost
        ,(
            Qty *
            (
                IncentiveToOthers +
                DILaborCost +
                DIMaterialCost +
                EndUserRebate
            ) / POWER(s.Rqf, Qm) +
            -- Increased supply costs, refrigerant costs, and miscellaneous costs
            CE.ElecSupplyCost +
            CE.GasSupplyCost +
            CE.WaterEnergyCost +
            CE.OtherCost
        ) AS PAC_Cost_NoAdmin
        ,(
            CASE 
                WHEN (BensSum.SumElecBen + BensSum.SumGasBen + BensSum.SumWaterEnergyBen + BensSum.SumOtherBen) <> 0
                THEN
                    (
                       CASE 
                           WHEN ISNULL(CE.ElecBen,0) > 0
                           THEN CE.ElecBen
                           ELSE 0
                       END +
                       CASE 
                           WHEN ISNULL(CE.GasBen,0) > 0
                           THEN CE.GasBen
                           ELSE 0
                        END +
                       CASE 
                           WHEN ISNULL(CE.WaterEnergyBen,0) > 0
                           THEN CE.WaterEnergyBen
                           ELSE 0
                        END +
                        CASE
                            WHEN ISNULL(CE.OtherBen,0) > 0
                            THEN OtherBen
                            ELSE 0
                        END
                    ) / (BensSum.SumElecBen + BensSum.SumGasBen + BensSum.SumWaterEnergyBen + BensSum.SumOtherBen)
                ELSE
                    -- If no benefits then divide program costs evenly among claims
                    1.000 / cc.ClaimCount
            END *
            ISNULL(pcSum.SumCostsNPV,0) +
            Qty *
            (
                IncentiveToOthers +
                DILaborCost +
                DIMaterialCost +
                EndUserRebate
            ) / POWER(s.Rqf, Qm) +
            pc.NetParticipantCostPV +
            -- Increased supply costs, refrigerant costs, and miscellaneous costs
            CE.ElecSupplyCost +
            CE.GasSupplyCost +
            CE.WaterEnergyCost +
            CE.OtherCost
        ) AS TRC_Cost
        ,(
            CASE 
                WHEN (SumElecBenGross + SumGasBenGross + SumWaterEnergyBenGross + SumOtherBenGross) <> 0
                THEN
                    (
                        CASE
                            WHEN ISNULL(ElecBenGross,0) > 0
                            THEN ElecBenGross
                            ELSE 0
                        END +
                        CASE
                            WHEN ISNULL(GasBenGross,0) > 0
                            THEN GasBenGross
                            ELSE 0
                        END + 
                        CASE
                            WHEN ISNULL(WaterEnergyBenGross,0) > 0
                            THEN WaterEnergyBenGross
                            ELSE 0
                        END + 
                        CASE
                            WHEN ISNULL(OtherBenGross,0) > 0
                            THEN OtherBenGross
                            ELSE 0
                        END
                    ) / (SumElecBenGross + SumGasBenGross + SumWaterEnergyBenGross + SumOtherBenGross)
                ELSE
                    -- If no benefits then divide program costs evenly among claims
                    1.000 / cc.ClaimCount
            END * 
            ISNULL(pcSum.SumCostsNPV,0) +
            Qty *
            (
                IncentiveToOthers +
                DILaborCost +
                DIMaterialCost +
                EndUserRebate
            ) / POWER(s.Rqf, Qm) +
            pc.GrossParticipantCostPV +
            -- Increased supply costs, refrigerant costs, and miscellaneous costs
            CE.ElecSupplyCost +
            CE.GasSupplyCost +
            CE.WaterEnergyCost +
            CE.OtherCostGross
        ) AS TRC_CostGross
        ,(
            Qty *
            (
                IncentiveToOthers +
                DILaborCost +
                DIMaterialCost +
                EndUserRebate
            ) / POWER(s.Rqf, Qm) +
            pc.NetParticipantCostPV +
            -- Increased supply costs, refrigerant costs, and miscellaneous costs
            CE.ElecSupplyCost +
            CE.GasSupplyCost +
            CE.WaterEnergyCost +
            CE.OtherCost
        ) AS TRC_Cost_NoAdmin
        ,(
            CASE 
                WHEN (BensSum.SumElecBen_SB + BensSum.SumGasBen_SB + BensSum.SumWaterEnergyBen_SB + BensSum.SumOtherBen) <> 0
                THEN
                    (
                       CASE 
                           WHEN ISNULL(CE.ElecBen_SB,0) > 0
                           THEN CE.ElecBen_SB
                           ELSE 0
                       END +
                       CASE 
                           WHEN ISNULL(CE.GasBen_SB,0) > 0
                           THEN CE.GasBen_SB
                           ELSE 0
                        END +
                       CASE 
                           WHEN ISNULL(CE.WaterEnergyBen_SB,0) > 0
                           THEN CE.WaterEnergyBen_SB
                           ELSE 0
                        END +
                        CASE
                            WHEN ISNULL(CE.OtherBen,0) > 0
                            THEN OtherBen
                            ELSE 0
                        END
                    ) / (BensSum.SumElecBen_SB + BensSum.SumGasBen_SB + BensSum.SumWaterEnergyBen_SB + BensSum.SumOtherBen)
                ELSE
                    -- If no benefits then divide program costs evenly among claims
                    1.000 / cc.ClaimCount
            END *
            ISNULL(pcSum.SumCostsNPV,0) +
            Qty *
            (
                IncentiveToOthers +
                DILaborCost +
                DIMaterialCost +
                EndUserRebate
            ) / POWER(s.Rqf_SCT, Qm) +
            pc.NetParticipantCostPV_SCT +
            -- Increased supply costs, refrigerant costs, and miscellaneous costs
            CE.ElecSupplyCost_SB +
            CE.GasSupplyCost_SB +
            CE.WaterEnergyCost_SB +
            CE.OtherCost
        ) AS SCB_Cost
        ,(
            CASE 
                WHEN (SumElecBenGross_SB + SumGasBenGross_SB + SumWaterEnergyBenGross_SB + SumOtherBenGross) <> 0
                THEN
                    (
                        CASE
                            WHEN ISNULL(ElecBenGross_SB,0) > 0
                            THEN ElecBenGross_SB
                            ELSE 0
                        END +
                        CASE
                            WHEN ISNULL(GasBenGross_SB,0) > 0
                            THEN GasBenGross_SB
                            ELSE 0
                        END + 
                        CASE
                            WHEN ISNULL(WaterEnergyBenGross_SB,0) > 0
                            THEN WaterEnergyBenGross_SB
                            ELSE 0
                        END + 
                        CASE
                            WHEN ISNULL(OtherBenGross,0) > 0
                            THEN OtherBenGross
                            ELSE 0
                        END
                    ) / (SumElecBenGross_SB + SumGasBenGross_SB + SumWaterEnergyBenGross_SB + SumOtherBenGross)
                ELSE
                    -- If no benefits then divide program costs evenly among claims
                    1.000 / cc.ClaimCount
            END * 
            ISNULL(pcSum.SumCostsNPV,0) +
            Qty *
            (
                IncentiveToOthers +
                DILaborCost +
                DIMaterialCost +
                EndUserRebate
            ) / POWER(s.Rqf_SCT, Qm) +
            pc.GrossParticipantCostPV_SCT +
            -- Increased supply costs, refrigerant costs, and miscellaneous costs
            CE.ElecSupplyCost_SB +
            CE.GasSupplyCost_SB +
            CE.WaterEnergyCost_SB +
            CE.OtherCostGross
        ) AS SCB_CostGross
        ,(
            Qty *
            (
                IncentiveToOthers +
                DILaborCost +
                DIMaterialCost +
                EndUserRebate
            ) / POWER(s.Rqf_SCT, Qm) +
            pc.NetParticipantCostPV_SCT +
            -- Increased supply costs, refrigerant costs, and miscellaneous costs
            CE.ElecSupplyCost_SB +
            CE.GasSupplyCost_SB +
            CE.WaterEnergyCost_SB +
            CE.OtherCost
        ) AS SCB_Cost_NoAdmin
        ,(
            CASE 
                WHEN (BensSum.SumElecBen_SH + BensSum.SumGasBen_SH + BensSum.SumWaterEnergyBen_SH + BensSum.SumOtherBen) <> 0
                THEN
                    (
                       CASE 
                           WHEN ISNULL(CE.ElecBen_SH,0) > 0
                           THEN CE.ElecBen_SH
                           ELSE 0
                       END +
                       CASE 
                           WHEN ISNULL(CE.GasBen_SH,0) > 0
                           THEN CE.GasBen_SH
                           ELSE 0
                        END +
                       CASE 
                           WHEN ISNULL(CE.WaterEnergyBen_SH,0) > 0
                           THEN CE.WaterEnergyBen_SH
                           ELSE 0
                        END +
                        CASE
                            WHEN ISNULL(CE.OtherBen,0) > 0
                            THEN OtherBen
                            ELSE 0
                        END
                    ) / (BensSum.SumElecBen_SH + BensSum.SumGasBen_SH + BensSum.SumWaterEnergyBen_SH + BensSum.SumOtherBen)
                ELSE
                    -- If no benefits then divide program costs evenly among claims
                    1.000 / cc.ClaimCount
            END *
            ISNULL(pcSum.SumCostsNPV,0) +
            Qty *
            (
                IncentiveToOthers +
                DILaborCost +
                DIMaterialCost +
                EndUserRebate
            ) / POWER(s.Rqf_SCT, Qm) +
            pc.NetParticipantCostPV_SCT +
            -- Increased supply costs, refrigerant costs, and miscellaneous costs
            CE.ElecSupplyCost_SH +
            CE.GasSupplyCost_SH +
            CE.WaterEnergyCost_SH +
            CE.OtherCost
        ) AS SCH_Cost
        ,(
            CASE 
                WHEN (SumElecBenGross_SH + SumGasBenGross_SH + SumWaterEnergyBenGross_SH + SumOtherBenGross) <> 0
                THEN
                    (
                        CASE
                            WHEN ISNULL(ElecBenGross_SH,0) > 0
                            THEN ElecBenGross_SH
                            ELSE 0
                        END +
                        CASE
                            WHEN ISNULL(GasBenGross_SH,0) > 0
                            THEN GasBenGross_SH
                            ELSE 0
                        END + 
                        CASE
                            WHEN ISNULL(WaterEnergyBenGross_SH,0) > 0
                            THEN WaterEnergyBenGross_SH
                            ELSE 0
                        END + 
                        CASE
                            WHEN ISNULL(OtherBenGross,0) > 0
                            THEN OtherBenGross
                            ELSE 0
                        END
                    ) / (SumElecBenGross_SH + SumGasBenGross_SH + SumWaterEnergyBenGross_SH + SumOtherBenGross)
                ELSE
                    -- If no benefits then divide program costs evenly among claims
                    1.000 / cc.ClaimCount
            END * 
            ISNULL(pcSum.SumCostsNPV,0) +
            Qty *
            (
                IncentiveToOthers +
                DILaborCost +
                DIMaterialCost +
                EndUserRebate
            ) / POWER(s.Rqf_SCT, Qm) +
            pc.GrossParticipantCostPV_SCT +
            -- Increased supply costs, refrigerant costs, and miscellaneous costs
            CE.ElecSupplyCost_SH +
            CE.GasSupplyCost_SH +
            CE.WaterEnergyCost_SH +
            CE.OtherCostGross
        ) AS SCH_CostGross
        ,(
            Qty *
            (
                IncentiveToOthers +
                DILaborCost +
                DIMaterialCost +
                EndUserRebate
            ) / POWER(s.Rqf_SCT, Qm) +
            pc.NetParticipantCostPV_SCT +
            -- Increased supply costs, refrigerant costs, and miscellaneous costs
            CE.ElecSupplyCost_SH +
            CE.GasSupplyCost_SH +
            CE.WaterEnergyCost_SH +
            CE.OtherCost
        ) AS SCH_Cost_NoAdmin
        ,CASE
            WHEN (SumElecBen + SumGasBen + SumWaterEnergyBen + SumOtherBen) <> 0
            THEN (
                CASE
                    WHEN ISNULL(ElecBen,0) > 0
                    THEN ElecBen
                    ELSE 0
                END +
                CASE
                    WHEN ISNULL(GasBen,0) > 0
                    THEN GasBen
                    ELSE 0
                END +
                CASE
                    WHEN ISNULL(WaterEnergyBen,0) > 0
                    THEN WaterEnergyBen
                    ELSE 0
                END +
                CASE
                    WHEN ISNULL(OtherBen,0) > 0
                    THEN OtherBen
                    ELSE 0
                END
            ) / (SumElecBen + SumGasBen + SumWaterEnergyBen + SumOtherBen)
            ELSE 
                1.000 / cc.ClaimCount -- If no benefits then divide program costs evenly among claims
        END AS WeightedBenefits
        ,(
            CASE
                WHEN SumBenPos <> 0
                THEN ElecBenPos / SumBenPos
                ELSE 0
            END
        ) AS WeightedElecAlloc
        ,(
            CASE 
                WHEN SumElecBen + SumGasBen + SumWaterEnergyBen + SumOtherBen <> 0
                THEN (
                    CASE
                        WHEN ISNULL(ElecBen,0) > 0
                        THEN ElecBen
                        ELSE 0
                    END +
                    CASE
                        WHEN ISNULL(GasBen,0) > 0
                        THEN GasBen
                        ELSE 0
                    END +
                    CASE
                        WHEN ISNULL(WaterEnergyBen,0) > 0
                        THEN WaterEnergyBen
                        ELSE 0
                    END +
                    CASE
                        WHEN ISNULL(OtherBen,0) > 0
                        THEN OtherBen
                        ELSE 0
                    END
                    ) / (SumElecBen + SumGasBen + SumWaterEnergyBen + SumOtherBen)
                ELSE 1.000 / cc.ClaimCount -- If no benefits then divide program costs evenly among claims
            END * 
            ISNULL(pcSum.SumCosts,0)
        ) AS WeightedProgramCost
        ,pc.ExcessIncentives
        ,pc.GrossMeasureCostAdjusted
        ,pc.ParticipantCost
        ,pc.ParticipantCostPV
        ,pc.GrossParticipantCostPV
        ,pc.NetParticipantCostPV
    FROM #OutputCE CE
    LEFT JOIN InputMeasurevw AS e ON CE.CET_ID = e.CET_ID
    LEFT JOIN ProgramCostsSum pcSum ON CE.PrgID = pcSum.PrgID
    LEFT JOIN RebatesAndIncentives ri on CE.CET_ID = ri.CET_ID
    LEFT JOIN ParticipantCost pc on ce.CET_ID = pc.CET_ID
    LEFT JOIN BenefitsSum bensSum ON CE.PrgID = bensSum.PrgID
    LEFT JOIN BenPos bp on ce.CET_ID = bp.CET_ID
    LEFT JOIN ClaimCount cc on CE.PrgID = cc.PrgID
    LEFT JOIN Settingsvw s ON e.PA = s.PA
    WHERE s.[Version] = @AVCVersion
)
    UPDATE #OutputCE
    SET
        TotalSystemBenefit = c.TotalSystemBenefit
        , TotalSystemBenefitGross = c.TotalSystemBenefitGross
        , SCBCost = c.SCB_Cost
        , SCHCost = c.SCH_Cost
        , TRCCost = c.TRC_Cost
        , PACCost = c.PAC_Cost
        , SCBCostGross = c.SCB_CostGross
        , SCBCostNoAdmin = c.SCB_Cost_NoAdmin
        , SCHCostGross = c.SCH_CostGross
        , SCHCostNoAdmin = c.SCH_Cost_NoAdmin
        , TRCCostGross = c.TRC_CostGross
        , TRCCostNoAdmin = c.TRC_Cost_NoAdmin
        , PACCostNoAdmin = c.PAC_Cost_NoAdmin
        , WeightedBenefits = c.WeightedBenefits
        , WeightedElecAlloc = c.WeightedElecAlloc
        , WeightedProgramCost = c.WeightedProgramCost
    FROM #OutputCE CE
    LEFT JOIN Calculations c ON CE.CET_ID = c.CET_ID
END


PRINT 'Calculating RIM Cost...'

BEGIN
-- Update RIM Test Costs
WITH RIMTest (
    CET_ID
    , BillReducElec
    , BillIncrElec
    , BillReducGas
    , BillIncrGas
) AS (
    SELECT 
        e.CET_ID
        ,SUM(
		CASE
		WHEN ISNULL(ft.FuelType,0) = '0'
			OR (kWh1 * (ISNULL(RateE1, 0) + ISNULL(RateEFrac1,0)) + kWh2 * (ISNULL(RateEFrac2_1,0)+ISNULL(RateE2,0)+ISNULL(RateEFrac2_2,0))) > 0
		THEN ISNULL(
			Qty *
			IR *
			RR *
			( NTGRkWh + @MEBens ) *
			(
				kWh1 *
				(
					ISNULL( RateE1, 0 ) +
					ISNULL( RateEFrac1, 0 )
				) +
				kWh2 *
				(
					ISNULL( RateEFrac2_1, 0 ) +
					ISNULL( RateE2, 0 ) +
					ISNULL( RateEFrac2_2, 0 )
				)
			), 0
		)
		ELSE 0
	END) AS BillReducElec
        ,SUM(
		CASE
		WHEN NOT ISNULL(ft.FuelType,0) = '0'
			AND (kWh1 * (ISNULL(RateE1, 0) + ISNULL(RateEFrac1,0)) + kWh2 * (ISNULL(RateEFrac2_1,0)+ISNULL(RateE2,0)+ISNULL(RateEFrac2_2,0))) < 0
		THEN ISNULL(
			-1 * Qty *
			IR *
			RR *
			( NTGRkWh + @MEBens ) *
			(
				kWh1 *
				(
					ISNULL( RateE1, 0 ) +
					ISNULL( RateEFrac1, 0 )
				) +
				kWh2 *
				(
					ISNULL( RateEFrac2_1, 0 ) +
					ISNULL( RateE2, 0 ) +
					ISNULL( RateEFrac2_2, 0 )
				)
			), 0
		)
		ELSE 0
	END) AS BillIncrElec
        ,SUM(
		CASE
		WHEN ISNULL(ft.FuelType,0) = '0' 
			OR (Thm1 * (ISNULL(RateG1, 0) + ISNULL(RateGFrac1,0)) + Thm2 * (ISNULL(RateGFrac2_1,0)+ISNULL(RateG2,0)+ISNULL(RateGFrac2_2,0))) > 0
		THEN
			ISNULL(
				Qty *
				IR *
				RR *
				( NTGRThm + @MEBens ) *
				(
					Thm1 *
					(
						ISNULL( RateG1, 0 ) +
						ISNULL( RateGFrac1, 0 )
					) +
					Thm2 *
					(
						ISNULL( RateGFrac2_1, 0 ) +
						ISNULL( RateG2, 0 ) +
						ISNULL( RateGFrac2_2, 0 )
					)
				), 0
			)
		ELSE 0
	END) AS BillReducGas
        ,SUM(
		CASE
		WHEN NOT ISNULL(ft.FuelType,0) = '0'
			AND (Thm1 * (ISNULL(RateG1, 0) + ISNULL(RateGFrac1,0)) + Thm2 * (ISNULL(RateGFrac2_1,0)+ISNULL(RateG2,0)+ISNULL(RateGFrac2_2,0))) < 0
		THEN
			ISNULL(
				-1 * Qty *
				IR *
				RR *
				( NTGRThm + @MEBens ) *
				(
					Thm1 *
					(
						ISNULL( RateG1, 0 ) +
						ISNULL( RateGFrac1, 0 )
					) +
					Thm2 *
					(
						ISNULL( RateGFrac2_1, 0 ) +
						ISNULL( RateG2, 0 ) +
						ISNULL( RateGFrac2_2, 0 )
					)
				), 0
			)
		ELSE 0
	END) AS BillIncrGas
    FROM InputMeasurevw e
	LEFT JOIN #FuelTypesForFuelSubstitution AS ft
    ON e.FuelType = ft.FuelType
    LEFT JOIN Settingsvw s ON e.PA = s.PA and s.[Version] = @AVCVersion
    
--First baseline
    LEFT JOIN (
        SELECT
            CET_ID 
            ,ISNULL(SUM([RateE] / POWER(Raf, Qy-Yr1)),0) AS [RateE1]
        FROM [E3RateScheduleElecvw]
        WHERE Qy Between Yr1 and Yr1 + (Convert(int,EUL1)-1)
        GROUP BY CET_ID, EUL1
        ) RE on e.CET_ID = RE.CET_ID

--First baseline, fraction
    LEFT JOIN (
        SELECT
            CET_ID 
            ,(eul1 - Convert(int,eul1)) * [RateE] / POWER(Raf, Qy) AS [RateEFrac1]
        FROM [E3RateScheduleElecvw]
        WHERE Qy = Convert(INT, Yr1 + (eul1))
        GROUP BY CET_ID, EUL1, RateE, Raf, Qy
        ) REfrac1 on e.CET_ID = REfrac1.CET_ID

--Second Baseline, first fraction
    LEFT JOIN (
        SELECT
            CET_ID 
            ,CASE
                WHEN eul2 > 0 AND (eul1 - Convert(INT, eul1)) > 0
                THEN (1-(eul1 - Convert(INT, eul1))) * (RateE / POWER(Raf, Qy))
                ELSE 0
            END AS RateEfrac2_1
        FROM [E3RateScheduleElecvw]
        WHERE Qy = Convert(INT, Yr1 + (eul1))
        GROUP BY CET_ID, EUL1, EUL2, RateE, Raf, Qy
        ) REfrac2_1 on e.CET_ID = REfrac2_1.CET_ID

--Second Baseline
    LEFT JOIN (
        SELECT
            CET_ID
            ,ISNULL(SUM(RateE / POWER(Raf, Qy)),0) AS RateE2
        FROM [E3RateScheduleElecvw]
        WHERE Qy BETWEEN Yr1 + eul1 AND Yr1 + eul2 - 1
        GROUP BY CET_ID
        ) RE2 ON e.CET_ID = RE2.CET_ID

--Second Baseline, Fraction 2
    LEFT JOIN (
        SELECT CET_ID
            ,(eul2 - Convert(INT, eul2)) * (RateE / POWER(Raf, Qy)) AS RateEFrac2_2
        FROM [E3RateScheduleElecvw]
        WHERE Qy = Convert(INT, Yr1 + (eul2))
        ) REfrac2_2 ON e.CET_ID = REfrac2_2.CET_ID

--*********************
----First baseline GAS
    LEFT JOIN (
        SELECT CET_ID 
            ,ISNULL(SUM([RateG] / POWER(Raf, Qy-Yr1)),0) AS [RateG1]

        FROM [E3RateScheduleGasvw]
        WHERE Qy Between Yr1 and Yr1 + (Convert(int,EUL1)-1)
        GROUP BY CET_ID, EUL1
        ) RG on e.CET_ID = RG.CET_ID

--First baseline, fraction
    LEFT JOIN (
        SELECT CET_ID 
            ,(eul1 - Convert(int,eul1)) *[RateG] / POWER(Raf, Qy) AS [RateGFrac1]
        FROM [E3RateScheduleGasvw]
        WHERE Qy = Convert(INT, Yr1 + (eul1))
        GROUP BY CET_ID, EUL1, RateG, Raf, Qy
        ) RGfrac1 on e.CET_ID = RGfrac1.CET_ID

--Second Baseline, first fraction
    LEFT JOIN (
        SELECT CET_ID 
            ,CASE WHEN eul2 > 0 AND  (eul1 - Convert(INT, eul1)) > 0 THEN (1-(eul1 - Convert(INT, eul1))) * (RateG / POWER(Raf, Qy)) ELSE 0 END AS RateGfrac2_1
        FROM [E3RateScheduleGasvw]
        WHERE Qy = Convert(INT, Yr1 + (eul1))
        GROUP BY CET_ID, EUL1, EUL2, RateG, Raf, Qy
        ) RGfrac2_1 on e.CET_ID = RGfrac2_1.CET_ID

--Second Baseline
    LEFT JOIN (
        SELECT CET_ID
            ,ISNULL(SUM(RateG / POWER(Raf, Qy)),0) AS RateG2
        FROM [E3RateScheduleGasvw]
        WHERE Qy BETWEEN Yr1 + eul1
                AND Yr1 + eul2 - 1
        GROUP BY CET_ID
        ) RG2 ON e.CET_ID = RG2.CET_ID

--Second Baseline, Fraction 2
    LEFT JOIN (
        SELECT CET_ID
            ,(eul2 - Convert(INT, eul2)) * (RateG / POWER(Raf, Qy)) AS RateGFrac2_2
        FROM [E3RateScheduleGasvw]
        WHERE Qy = Convert(INT, Yr1 + (eul2))
        ) RGfrac2_2 ON e.CET_ID = RGfrac2_2.CET_ID
    WHERE s.Version = @AVCVersion
    GROUP BY e.PA, e.PrgID, e.CET_ID, e.EUL1, re.RateE1, rg.RateG1, Qy
)
    UPDATE #OutputCE
    SET
        BillReducElec=t.BillReducElec,
        BillIncrElec=t.BillIncrElec,
        BillReducGas=t.BillReducGas,
        BillIncrGas=t.BillIncrGas,
        RIMCost = t.BillReducElec + t.BillReducGas + ce.PacCost,
        RIMCostNoAdmin = t.BillReducElec + t.BillReducGas + ce.PacCostNoAdmin
    FROM #OutputCE ce
    LEFT JOIN RIMTest t ON CE.CET_ID = t.CET_ID

END 


PRINT 'Updating SC, TRC, PAC, and RIM ratios...'

BEGIN
    -- Update SC, TRC, PAC, RIM ratios at measure level
UPDATE #OutputCE
SET
    SCBRatio =
        CASE
            WHEN SCBCost <> 0
            THEN (ElecBen_SB + GasBen_SB + WaterEnergyBen_SB + OtherBen) / (SCBCost)
            ELSE 0
        END
    ,SCHRatio =
        CASE
            WHEN SCHCost <> 0
            THEN (ElecBen_SH + GasBen_SH + WaterEnergyBen_SH + OtherBen) / (SCHCost)
            ELSE 0
        END
    ,TRCRatio =
        CASE
            WHEN TRCCost <> 0
            THEN (ElecBen + GasBen + WaterEnergyBen + OtherBen + TaxCredits) / (TRCCost)
            ELSE 0
        END
    ,PACRatio =
        CASE 
            WHEN PACCost <> 0
            THEN (ElecBen + GasBen + WaterEnergyBen + OtherBen) / (PACCost)
            ELSE 0
        END
    ,RIMRatio =
        CASE
            WHEN RIMCost <> 0
            THEN (ElecBen + GasBen + WaterEnergyBen + OtherBen + BillIncrElec + BillIncrGas) / (RIMCost)
            ELSE 0
        END
    ,SCBRatioNoAdmin =
        CASE 
            WHEN SCBCostNoAdmin <> 0
            THEN (ElecBen_SB + GasBen_SB + WaterEnergyBen_SB + OtherBen) / (SCBCostNoAdmin)
            ELSE 0
        END
    ,SCHRatioNoAdmin =
        CASE 
            WHEN SCHCostNoAdmin <> 0
            THEN (ElecBen_SH + GasBen_SH + WaterEnergyBen_SH + OtherBen) / (SCHCostNoAdmin)
            ELSE 0
        END
    ,TRCRatioNoAdmin =
        CASE 
            WHEN TRCCostNoAdmin <> 0
            THEN (ElecBen + GasBen + WaterEnergyBen + OtherBen + TaxCredits) / (TRCCostNoAdmin)
            ELSE 0
        END
    ,PACRatioNoAdmin =
        CASE 
            WHEN PACCostNoAdmin <> 0
            THEN (ElecBen + GasBen + WaterEnergyBen + OtherBen) / (PACCostNoAdmin)
            ELSE 0
        END
    ,RIMRatioNoAdmin =
        CASE
            WHEN RIMCostNoAdmin <> 0
            THEN (ElecBen + GasBen + WaterEnergyBen + OtherBen + BillIncrElec + BillIncrGas) / (RIMCostNoAdmin)
            ELSE 0
        END
		END
--Clear OutputCE
DELETE FROM OutputCE
DELETE FROM SavedCE

--Copy data in temporary table to OutputCE
INSERT INTO OutputCE
( 
JobID,
PA,
PrgID,
CET_ID,
ElecBen,
ElecBen_SB,
ElecBen_SH,
GasBen,
GasBen_SB,
GasBen_SH,
TaxCredits,
WaterEnergyBen,
WaterEnergyBen_SB,
WaterEnergyBen_SH,
OtherBen,
ElecBenGross,
ElecBenGross_SB,
ElecBenGross_SH,
GasBenGross,
GasBenGross_SB,
GasBenGross_SH,
TaxCreditsGross,
WaterEnergyBenGross,
WaterEnergyBenGross_SB,
WaterEnergyBenGross_SH,
OtherBenGross,
ElecSupplyCost,
ElecSupplyCost_SB,
ElecSupplyCost_SH,
GasSupplyCost,
GasSupplyCost_SB,
GasSupplyCost_SH,
WaterEnergyCost,
WaterEnergyCost_SB,
WaterEnergyCost_SH,
OtherCost,
ElecSupplyCostGross,
ElecSupplyCostGross_SB,
ElecSupplyCostGross_SH,
GasSupplyCostGross,
GasSupplyCostGross_SB,
GasSupplyCostGross_SH,
WaterEnergyCostGross,
WaterEnergyCostGross_SB,
WaterEnergyCostGross_SH,
OtherCostGross,
BillReducElec,
BillIncrElec,
BillReducGas,
BillIncrGas,
TotalSystemBenefit,
TotalSystemBenefitGross,
SCBCost,
SCHCost,
TRCCost,
PACCost,
RIMCost,
SCBCostGross,
SCBCostNoAdmin,
SCHCostGross,
SCHCostNoAdmin,
TRCCostGross,
TRCCostNoAdmin,
PACCostNoAdmin,
RIMCostNoAdmin,
SCBRatio,
SCHRatio,
TRCRatio,
PACRatio,
RIMRatio,
SCBRatioNoAdmin,
SCHRatioNoAdmin,
TRCRatioNoAdmin,
PACRatioNoAdmin,
RIMRatioNoAdmin,
WeightedBenefits,
WeightedElecAlloc,
WeightedProgramCost
)
SELECT
JobID,
PA,
PrgID,
CET_ID,
ElecBen,
ElecBen_SB,
ElecBen_SH,
GasBen,
GasBen_SB,
GasBen_SH,
TaxCredits,
WaterEnergyBen,
WaterEnergyBen_SB,
WaterEnergyBen_SH,
OtherBen,
ElecBenGross,
ElecBenGross_SB,
ElecBenGross_SH,
GasBenGross,
GasBenGross_SB,
GasBenGross_SH,
TaxCreditsGross,
WaterEnergyBenGross,
WaterEnergyBenGross_SB,
WaterEnergyBenGross_SH,
OtherBenGross,
ElecSupplyCost,
ElecSupplyCost_SB,
ElecSupplyCost_SH,
GasSupplyCost,
GasSupplyCost_SB,
GasSupplyCost_SH,
WaterEnergyCost,
WaterEnergyCost_SB,
WaterEnergyCost_SH,
OtherCost,
ElecSupplyCostGross,
ElecSupplyCostGross_SB,
ElecSupplyCostGross_SH,
GasSupplyCostGross,
GasSupplyCostGross_SB,
GasSupplyCostGross_SH,
WaterEnergyCostGross,
WaterEnergyCostGross_SB,
WaterEnergyCostGross_SH,
OtherCostGross,
BillReducElec,
BillIncrElec,
BillReducGas,
BillIncrGas,
TotalSystemBenefit,
TotalSystemBenefitGross,
SCBCost,
SCHCost,
TRCCost,
PACCost,
RIMCost,
SCBCostGross,
SCBCostNoAdmin,
SCHCostGross,
SCHCostNoAdmin,
TRCCostGross,
TRCCostNoAdmin,
PACCostNoAdmin,
RIMCostNoAdmin,
SCBRatio,
SCHRatio,
TRCRatio,
PACRatio,
RIMRatio,
SCBRatioNoAdmin,
SCHRatioNoAdmin,
TRCRatioNoAdmin,
PACRatioNoAdmin,
RIMRatioNoAdmin,
WeightedBenefits,
WeightedElecAlloc,
WeightedProgramCost
FROM [#OutputCE]
ORDER BY JobID, CET_ID ASC

DROP TABLE [#OutputCE]
DROP TABLE [#FuelTypesForFuelSubstitution]

--PRINT 'Done!'





GO
