USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetValidationsByJobID]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[GetValidationsByJobID]
         @JobID int
AS
BEGIN

SELECT 
      v.[MessageType] MessageType
      ,m.[Message]
	  , Count(*) AS [MessageCount]
  FROM [SavedValidation] v
  LEFT JOIN CETTypeMessage m on v.MessageType = m.ID
  WHERE  v.JobID = @JobID
  GROUP BY  v.[MessageType], m.Message
  ORDER BY Count(*) DESC
END









GO
