USE [CET_251]
GO
/****** Object:  StoredProcedure [dbo].[GetValidationsAllByMessageType]    Script Date: 9/28/2026 9:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetValidationsAllByMessageType]
		@JobID int
        ,@MessageType varchar(255)
AS
BEGIN

SELECT DISTINCT 
	   v.CET_ID
	   ,v.[Table]
	   ,v.ErrorType
	   ,v.MessageType
	   ,v.Detail
  FROM [SavedValidation] v
  WHERE  v.JobID = @JobID and v.MessageType = @MessageType
  GROUP BY v.CET_ID,v.[Table],v.ErrorType,v.Detail,v.[MessageType]
 
END











GO
